<template>
    <div class="py-3 px-1 relative grid grid-cols-1 justify-items-center justify-center min-h-screen bg-gray-200 dark:bg-gray-700 dark:text-white items-center">
        <div>
            <img class="mx-auto w-20 h-20 mb-3" src="https://success.bateh.web.id/img/success.png">
            <img class="mx-auto h-72" src="https://bateh.web.id/img/unvalidated.png">

            <div class="mt-3 text-center">
                <p class="text-lg">Silahkan mendaftar melalui link dibawah ini untuk memverifikasi diri anda dan melanjutkan akses :)</p>
                <a href="https://bit.ly/DaftarTOSUCCESS" class="inline-flex items-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-green-400 active:bg-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray transition ease-in-out duration-150" target="_blank">Ke Google Form!</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UnvalidatedParticipant",
    title: 'Anda Belum Diizinkan Masuk :\'(',
}
</script>

<style scoped>

</style>
