<template>
    <div class="py-3 px-1 relative grid grid-cols-1 justify-items-center justify-center min-h-screen bg-gray-200 dark:bg-gray-700 dark:text-white items-center">
        <div>
            <img class="mx-auto w-20 h-20 mb-3" src="https://success.bateh.web.id/img/success.png">
            <img class="mx-auto h-72" src="https://bateh.web.id/img/unvalidated.png">

            <div class="mt-3 text-center">
                <p class="text-lg">Silahkan hubungi salah satu admin untuk memverifikasi akun anda untuk melanjutkan akses :)</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UnvalidatedHost",
    title: 'Anda Belum Diizinkan Masuk :\'('
}
</script>

<style scoped>

</style>
