<template>
    <div class="m-2 pb-2 border-b border-gray-400" :id="id">

        <div class="font-extrabold mb-2 text-3xl flex flex-row gap-1 items-center">
            <font-awesome-icon fixed-width :icon="iconRelease"></font-awesome-icon>
            <div>
                <p class="text-xs font-normal"><slot name="date"></slot></p>
                <p><slot name="version"></slot></p>
            </div>
        </div>

        <div class="my-2">
            <slot></slot>
        </div>

        <div class="my-2" v-if="bug">
            <p class="text-green-500 font-bold"><font-awesome-icon fixed-width :icon="iconBug"></font-awesome-icon>Masalah (Bug) Diperbaiki</p>
            <ul class="list-disc ml-9">
                <slot name="bugfix"></slot>
            </ul>
        </div>

        <div class="my-2" v-if="added">
            <p class="text-green-500 font-bold"><font-awesome-icon fixed-width :icon="iconNew"></font-awesome-icon>Fitur Ditambahkan</p>
            <ul class="list-disc ml-9">
                <slot name="added"></slot>
            </ul>
        </div>

        <div class="my-2" v-if="deleted">
            <p class="text-green-500 font-bold"><font-awesome-icon fixed-width :icon="iconDelete"></font-awesome-icon>Fitur Dihapus</p>
            <ul class="list-disc ml-9">
                <slot name="deleted"></slot>
            </ul>
        </div>

        <div class="my-2" v-if="changed">
            <p class="text-green-500 font-bold"><font-awesome-icon fixed-width :icon="iconChange"></font-awesome-icon>Perubahan</p>
            <ul class="list-disc ml-9">
                <slot name="changed"></slot>
            </ul>
        </div>
    </div>
</template>

<script>
import{
    faPaperPlane,
    faBug,
    faEraser,
    faCartPlus,
    faSyncAlt,
} from '@fortawesome/free-solid-svg-icons';

export default {
    name: "VersionGroup",
    props: {
        id: {
            type: String,
            required: true,
        },
        bug: {
            type: Boolean,
            default: false,
        },
        deleted: {
            type: Boolean,
            default: false,
        },
        added: {
            type: Boolean,
            default: false,
        },
        changed: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            iconRelease: faPaperPlane,
            iconBug: faBug,
            iconDelete: faEraser,
            iconNew: faCartPlus,
            iconChange: faSyncAlt,
        }
    },
}
</script>

<style scoped>

</style>
