<template>
    <div class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-1 p-2">
        <div class="text-lg text-green-500 font-bold">
            <slot name="title"></slot>
        </div>

        <div class="text-sm pt-1 w-full">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "BasicCard"
}
</script>

<style scoped>

</style>
