<template>
    <div class="bg-blue-500 text-white rounded-lg justify-center text-center p-1 text-sm">
        <slot></slot>
        <font-awesome-icon :icon="icon"></font-awesome-icon>
    </div>
</template>

<script>
import {
    faCubes,
} from '@fortawesome/free-solid-svg-icons';

export default {
    name: "DisplayCount",
    props: {
        icon: {
            type: Object,
            default: () => {
                return faCubes;
            }
        }
    }
}
</script>

<style scoped>

</style>
