<template>
    <div class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg flex flex-col">
        <div class="bg-purple-800 text-white text-xl p-1 rounded-t-lg font-extrabold flex flex-row items-center"  @click="control = !control">
            <div class="px-1 mr-1">
                <font-awesome-icon v-if="control" :icon="iconShow"></font-awesome-icon>
                <font-awesome-icon v-else :icon="iconHide"></font-awesome-icon>
            </div>
            <div class="w-full">
                <slot name="title"></slot>
            </div>
        </div>
        <div class="p-1 max-h-72 overflow-y-auto" v-if="control">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import {
    faChevronCircleDown,
    faChevronCircleRight
} from '@fortawesome/free-solid-svg-icons';

export default {
    name: "ExpandableCard",
    props: {
        defaultState: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            iconHide: faChevronCircleRight,
            iconShow: faChevronCircleDown,
            control: false,
        }
    },
    created() {
        this.control = this.defaultState;
    }
}
</script>

<style scoped>

</style>
