<template>
    <!-- Main Card -->
    <div class=" mx-2 my-4">
        <div class="dark:text-white shadow-lg rounded-lg">

            <!-- Main writing -->
            <div class="p-3 bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-600 border-b">
                <!-- Title -->
                <div class="font-extrabold text-green-500 text-center text-lg mb-2">
                    <slot name="title"></slot>
                </div>

                <!-- Desription -->
                <slot></slot>
            </div>

            <!-- Flexbox with 1 Column -->
            <div class="bg-gray-200 dark:bg-gray-600 bg-opacity-50">
                <slot name="col"></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "GiantCard",
}
</script>

<style scoped>

</style>
