<template>
    <div class="m-1 p-2 text-white rounded-lg flex flex-row items-center" v-bind:class="color">
        <font-awesome-icon :icon="icon" :size="iconSize" class="mr-2" fixed-width></font-awesome-icon>
        <p class="text-sm italic" v-bind:class="fontSize">
            <slot></slot>
        </p>
    </div>
</template>

<script>
import {
    faExclamationTriangle,
} from '@fortawesome/free-solid-svg-icons';
export default {
    name: "NotificationCard",
    props: {
        icon: {
            type: Object,
            default: () => {
                return faExclamationTriangle
            }
        },
        color: {
            type: String,
            default: 'bg-red-600'
        },
        iconSize: {
            type: String,
            default: '2x'
        },
        fontSize: {
            type: String,
            default: 'text-sm'
        }
    }
}
</script>

<style scoped>

</style>
