<template>
    <div class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 flex flex-col">
        <div class="bg-purple-800 text-white text-xl p-2 rounded-t-lg font-extrabold break-words">
            <slot name="title"></slot>
        </div>
        <div class="p-2">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "TitleCard"
}
</script>

<style scoped>

</style>
