<template>
    <app-layout>
        <template #header>
            Riwayat Versi
        </template>

        <div class="dark:bg-gray-800 p-2 m-2 rounded-lg">
            <version-group bug added changed id="#1.9.1">
                <template #date>28 Maret 2021</template>
                <template #version>v1.9.1</template>

                <template #bugfix>
                    <li>Analisa Ujian: Detil akan error ketika belum ada yang mengerjakannya. => Muncul notifikasi belum ada yang mengerjakan.</li>
                    <li>Analisa Ujian: Apabila tidak ada paket, halaman tidak bisa dibuka. => Sudah selesai.</li>
                </template>
            </version-group>

            <version-group bug added changed id="#1.9">
                <template #date>28 Maret 2021</template>
                <template #version>v1.9</template>

                <template #bugfix>
                    <li>Edit Ujian: Masalah ketika menghapus atribut/soal yang bukan berada di akhir, ketika menambahkan ujian baru akan menimpa salah satu yang sudah ada. => Sudah diperbaiki :)</li>
                </template>

                <template #added>
                    <li>Rickroll button: Tombol Tutorial :D</li>
                    <li>Kebijakan Privasi dan Syarat Penggunaan Layanan saat mendaftar.</li>
                    <li>Analisa Ujian Full fitur</li>
                </template>

                <template #changed>
                    <li>Manajemen Ujian: Tombol di paket ujian dipindah ke bawah masing-masing kartu.</li>
                    <li>Ruang Ujian Saya: Pesan konfirmasi diperbarui dan diperjelas dampaknya.</li>
                </template>
            </version-group>

            <version-group bug added changed id="#1.8">
                <template #date>22 Maret 2021</template>
                <template #version>v1.8</template>

                <template #bugfix>
                    <li>Edit Ujian: Masalah ketika menghapus atribut/soal yang bukan berada di akhir, ketika menambahkan ujian baru akan menimpa salah satu yang sudah ada. => Sudah diperbaiki :)</li>
                </template>

                <template #added>
                    <li>Edit Ujian: Semua soal, atribut, dan opsi jawaban memiliki unique tag.</li>
                    <li>Edit Ujian: Tombol tutup panel.</li>
                    <li>Manajemen Ujian: Tombol copy dan cut untuk paket ujian ke ujian yang lain maupun ujian yang sama.</li>
                </template>

                <template #changed>
                    <li>Manajemen Ujian: Tombol di paket ujian dipindah ke bawah masing-masing kartu.</li>
                    <li>Ruang Ujian Saya: Pesan konfirmasi diperbarui dan diperjelas dampaknya.</li>
                </template>
            </version-group>

            <version-group bug added changed id="#1.7.1">
                <template #date>21 Maret 2021</template>
                <template #version>v1.7.1</template>

                <template #bugfix>
                    <li>Edit Soal: Ketika membuat soal baru nomor yang dihasilkan tidak sesuai dengan nomor yang terakhir sehingga menimpa data yang sudah ada. => Diperbaiki :)</li>
                    <li>Edit Soal: Contoh rumus di bantuan rumus tidak dirender sebagai rumus => Sudah berhasil :)</li>
                </template>

                <template #added>
                    <li>Manajemen Ujian: Edit metadata paket soal.</li>
                </template>
            </version-group>

            <version-group bug added changed id="#1.7">
                <template #date>20 Maret 2021</template>
                <template #version>v1.7</template>

                <template #bugfix>
                    <li>Edit Soal: Kartu tetap memanjang ketika judul memanjang. => Ketika teks terlalu panjang akan muncul titik-titik</li>
                </template>

                <template #added>
                    <li>Ruang Ujian dan Edit Soal: Bisa membuat dan rumus matematika atas bantuan MathJax.</li>
                    <li>Edit Ujian: Bantuan untuk menambahkan gambar dan rumus matematika.</li>
                </template>

                <template #changed>
                    <li>Edit Ujian: Tombol bantuan dikelompokkan menjadi 1 kartu.</li>
                    <li>Edit Ujian: "Bantuan :D" dirubah menjadi "Teks"</li>
                    <li>Edit Ujian: Isi Bantuan Teks diperbarui lebih lengkap.</li>
                </template>
            </version-group>

            <version-group bug id="1.6.1">
                <template #date>20 Maret 2021</template>
                <template #version>v1.6.1</template>

                <template #bugfix>
                    <li>Manajemen Ujian: Hanya muncul layar putih. => Sudah bisa. Ini karena efek merubah nama statistik ke analisa, namun route listnya belum dirubah.</li>
                    <li>Ruang Ujian Saya: Tombol delete diperlakukan sebagai button.</li>
                    <li>Ruang Ujian Saya: Modal tidak menutup ketika menghapus. => Ketika berhasil menghapus secara otomatis akan menutup.</li>
                    <li>Manajemen Ujian: Tombol biru menghasilkan error. => Sudah diperbaiki.</li>
                </template>
            </version-group>

            <version-group bug changed id="1.6">
                <template #date>19 Maret 2021</template>
                <template #version>v1.6</template>

                <template #bugfix>
                    <li>3 Ruang Peserta: Judul tab diperbaiki agar menggunakan nama ujian bukan nama paket.</li>
                    <li>Ruang Briefing: Notifikasi ujian tidak bisa diakses selalu muncul => Sekarang hanya muncul ketika ujian nonaktif.</li>
                    <li>Manajemen Ujian: Yang membuat ujian tetap muncul tulisan diberi akses oleh. => Sudah benar menjadi "Yang membuat ujian"</li>
                    <li>Manajemen Ujian: Yang membuat ujian dapat dihapus dari hak akses => Sekarang tidak bisa.</li>
                    <li>Edit Ujian dan Ruang Ujian: Apabila teks melebihi panjang kartu maka kartu/judul akan memanjang. => Belum sepenuhnya diperbaiki, tapi setidaknya tidak membuat baris baru dan overflow tidak ditampilkan.</li>
                    <li>Daftar Ruang Ujian: Sudah bisa menampilkan siapa yang membuat dan tanggal dengan baik.</li>
                </template>

                <template #changed>
                    <li>Tombol yang mengarahkan ke halaman lain dirubah ke tombol inertia.js.</li>
                    <li>Tampilan halaman Daftar Ruangan Ujian</li>
                    <li>Ruang Feedback: Slider tingkat kesulitan menurut peserta dirubah menjadi select box.</li>
                    <li>Text transition dirubah menjadi setiap 3 detik dari 5 detik.</li>
                    <li>Manajemen Ujian: Statistik Ujian dirubah menjadi Analisa Ujian.</li>
                </template>
            </version-group>

            <version-group bug added changed id="1.5">
                <template #date>19 Maret 2021</template>
                <template #version>v1.5</template>

                <template #bugfix>
                    <li>Visual Bug di Edit Ujian: Ketika di layar kecil Judul Kartu atribut dan soal menjadi lebih pendek</li>
                    <li>Visual Bug di Semua Textbox dengan Hitung Karakter: Teks berwarna putih meskipun ketika light mode.</li>
                </template>

                <template #added>
                    <li>Judul tab di semua halaman sudah benar.</li>
                    <li>Halaman Changelog/Riwayat Versi yang bisa diakses dari dropdown nama. Hanya host yang bisa mengakses.</li>
                </template>

                <template #changed>
                    <li>Edit Ujian: Untuk memilih atribut/pesan yang akan diedit sekarang menggunakan tombol pensil. Tidak hanya menyentuh nama atribut/soal</li>
                    <li>Edit Ujian: Tombol hapus diperbesar di masing-masing atribut/soal diperbesar.</li>
                    <li>Edit Ujian: Untuk merubah urutan atribut/soal sekarang harus menyentuh ikon panah atas bawah di sisi kiri kartu. Tidak hanya dengan menahan kartu.</li>
                    <li>Edit Ujian: Batas karakter dipindah dari bawah kanan masing-masing textbox menjadi di label textbox.</li>
                    <li>Edit Ujian: Merubah tulisan tombol "Simpan Perubahan" menjadi "Simpan"</li>
                    <li>Dashboard => Beranda: Merubah nama Dashboard menjadi Beranda.</li>
                </template>
            </version-group>

            <version-group bug id="1.4.1">
                <template #date>18 Maret 2021</template>
                <template #version>v1.4.1</template>

                <template #bugfix>
                    <li>Manajemen Ujian: Ketika membuat ujian sekarang pembuat ujian tidak memiliki kolom diizinkan oleh. => Secara otomatis mengatur diizinkan oleh menjadi dirinya sendiri.</li>
                </template>
            </version-group>

            <version-group bug added id="1.4">
                <template #date>18 Maret 2021</template>
                <template #version>v1.4</template>

                <template #bugfix>
                    <li>Visual Bug di Verifikasi Peserta: Kartu tetap ditampilkan menjadi 2 baris dan 2 kolom meskipun di layar kecil => Ditampilkan menjadi 4 baris 1 kolom.</li>
                </template>

                <template #added>
                    <li>Nomor versi dihalaman Selamat Datang dan Dashboard.</li>
                </template>
            </version-group>

            <version-group bug changed id="1.3">
                <template #date>18 Maret 2021</template>
                <template #version>v1.3</template>

                <template #bugfix>
                    <li>Visual Bug di Ruang Ujian: Semua kartu tidak memiliki margin yang sama.</li>
                    <li>Ruang Ujian: Hitung mundur 5 hingga 1 menit hilang ketika menit ke 2.</li>
                    <li>Ruang Ujian: Ketika waktu habis sekarang sudah secara otomatis dibawa ke Ruang Akhir.</li>
                </template>

                <template #changed>
                    <li>Ruang Ujian: Kartu Nomor Soal sekarang diberi judul "Navigasi Soal"</li>
                    <li>Ruang Ujian: Memperbarui tulisan di notifikasi Waktu Tinggal 1 menit (hitungan detik).</li>
                    <li>Ruang Ujian: Dibawah judul ujian sekarang hanya menampilkan waktu ujian saja.</li>
                </template>
            </version-group>

            <version-group bug changed id="1.2">
                <template #date>17 Maret 2021</template>
                <template #version>1.2</template>

                Tidak menggunakan mode production lagi di sisi front-end.

                <template #bugfix>
                    Router berhasil mengarahkan ke tujuan yang benar.
                </template>

                <template #changed>
                    Halaman belum terverifikasi diperbarui.
                </template>
            </version-group>

            <version-group id="1.1">
                <template #date>16 Maret 2021</template>
                <template #version>1.1</template>

                Menggunakan mode production.
            </version-group>

            <version-group>
                <template #date>16 Maret 2021</template>
                <template #version>v1.0</template>

                Rilis pertama. Fokus ke pendaftaran peserta.
            </version-group>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import VersionGroup from "@/Components/Changelog/VersionGroup";
export default {
    name: "Changelog",
    title: 'Riwayat Versi',
    components: {VersionGroup, AppLayout}
}
</script>

<style scoped>

</style>
