<template>
    <app-layout>
        <template #header>
            Beranda
        </template>

        <div class="p-4">
            <title-card>
                <template #title>
                    Mengikuti Ujian
                </template>

                <form @submit="checkRoom">
                    <jet-label for="code">Kode Ujian (Minta dari panitia)</jet-label>
                    <jet-input id="code" type="text" v-model="formData.code" class="my-1 block w-full" placeholder="6-10 Kata Berisi Huruf dan Angka" required />
                    <expanded-button>Ayo Masuk</expanded-button>
                </form>
            </title-card>

            <basic-card>
                <p class="text-center title-text">SUCCESS Computer Based Test Simulation System</p>
                <p class="text-center text-xs text-gray-700 dark:text-gray-200 italic">Versi 1.9.1</p>

                <p class="text-green-500 mt-1 font-extrabold">Tutorial Melakukan Ujian:</p>
                <div style="min-height: 38px">
                    <button id="b1" class="inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 transition ease-in-out duration-150" @click="moveButton('b1', 'b2')">
                        Klik Disini
                    </button>
                </div>
                <button id="b2" class="absolute inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 transition ease-in-out duration-150 hidden" @click="moveButton('b2', 'b3')">
                    Klik Disini
                </button>
                <button id="b3" class="absolute inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 transition ease-in-out duration-150 hidden" @click="moveButton('b3', 'b4')">
                    Klik Disini
                </button>
                <button id="b4" class="absolute inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 transition ease-in-out duration-150 hidden" @click="moveButton('b4', 'b5')">
                    Klik Disini
                </button>
                <button id="b5" class="absolute inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 transition ease-in-out duration-150 hidden" @click="openYoutube()">
                    Klik Disini
                </button>

                <p class="text-green-500 mt-1 font-extrabold">Cara Melakukan Ujian:</p>
                <ol class="list-decimal ml-4">
                    <li>Silahkan masukkan kode ujian yang diberikan panitia ke dalam kotak teks diatas, lalu tekan "<span class="text-green-500 font-bold">Ayo Masuk</span>"</li>
                    <li>Setelah memasuki ruangan, anda akan berada di “<span class="text-green-500 font-bold">Ruang Tunggu</span>” dan tombol “<span class="text-green-500 font-bold">Masuk Ruang Ujian</span>” akan dalam kondisi nonaktif apabila waktu belum memasuki waktu mulai. Disini anda bisa melihat <span class="underline">Data tentan Ujian yang akan dilaksanakan</span> seperti berapa lama, dan berapa jumlah soal.</li>
                    <li>Setelah memasuki waktu ujian, maka tombol  “<span class="text-green-500 font-bold">Mulai Ujian</span>” secara otomatis akan aktif (mungkin anda perlu melakukan refresh) dan anda harus menekan tombol tersebut secara manual untuk memasuki “<span class="text-green-500 font-bold">Ruang Ujian</span>”</li>
                    <li>Di <span class="text-green-500 font-bold">Ruang Ujian</span>, anda dapat memilih soal manapun yang ingin anda kerjakan terlebih dahulu beserta apabila anda ingin lompat ke nomor soal tertentu untuk mengganti jawaban ke soal yang sudah pernah anda jawab.</li>
                    <li>Apabila anda ingin mengakhiri sesi ketika waktu belum habis, silahkan klik “<span class="text-green-500 font-bold">Akhiri Lebih Awal</span>” lalu akan muncul kotak konfirmasi, silahkan klik “<span class="text-green-500 font-bold">Iya</span>” untuk mengakhiri.</li>
                    <li>Ketika ujian selesai, anda bisa melihat Data tentang Pengerjaan Anda seperti berapa soal yang anda jawab dengan benar, salah, dan tidak dijawab. Disini anda <span class="text-red-500 font-extrabold">harus mengisi formulir feedback</span> untuk melanjutkan dan melihat nilai anda.</li>
                    <li>Untuk melihat simulasi nilai, anda harus menunggu ketika semua peserta sudah selesai mengerjakan. Setelah itu nilai anda bisa dilihat menggunakan menu “<span class="text-green-500 font-bold">Riwayat Ujian Saya</span>”</li>
                </ol>
            </basic-card>
        </div>

        <dialog-modal :show="modal.control">
            <template #title>
                {{ modal.title }}
            </template>

            <template #content>
                <div class="text-center font-bold">
                    <div>
                        <font-awesome-icon :icon="modal.icon" class="mx-auto my-2" size="6x"></font-awesome-icon>
                    </div>
                    <p>{{modal.message}}</p>
                </div>
            </template>

            <template #footer v-if="modal.needFooter">
                <jet-button class="ml-2" @click.native="closeModal">
                    Okelah
                </jet-button>
            </template>
        </dialog-modal>
    </app-layout>
</template>

<style scoped>
    .hidden {
        display: none;
    }
</style>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'
    import BasicCard from "@/Components/Cards/BasicCard";
    import TitleCard from "@/Components/Cards/TitleCard";
    import JetLabel from "@/Jetstream/Label";
    import JetInput from "@/Jetstream/Input";
    import ExpandedButton from "@/Components/Button/ExpandedButton";
    import {
        faClock,
        faCheckCircle,
        faTimesCircle
    } from '@fortawesome/free-solid-svg-icons';
    import DialogModal from "@/Jetstream/DialogModal";
    import JetButton from "@/Jetstream/Button";

    export default {
        title: "Beranda",
        data(){
            return{
                formData: this.$inertia.form({
                    code: "",
                }),
                modal: {
                    control: false,
                    title: '',
                    icon: faClock,
                    message: '',
                    needFooter: false
                }
            }
        },
        components: {
            JetButton,
            DialogModal,
            ExpandedButton,
            JetInput,
            JetLabel,
            TitleCard,
            BasicCard,
            AppLayout,
            Welcome,
        },
        methods: {
            openYoutube(){
                window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
            },
            moveButton(now, next){
                let w = window.innerWidth, h = window.innerHeight;
                let b = document.getElementById(next), n = document.getElementById(now);
                let i = Math.floor(Math.random()*w)+1;
                let j = Math.floor(Math.random()*h)+1;
                (i < w/2) ? w+=51 : w-=51;
                n.classList.add('hidden');
                b.style.left = i+"px";
                b.style.top = j+"px";
                b.classList.add('block');
                b.classList.remove('hidden');
            },
            checkRoom(e){
                e.preventDefault();
                this.modal.title = "Mengecek Ruangan..."
                this.modal.icon = faClock;
                this.modal.message = "Harap bersabar ya..."
                this.modal.control = true;
                axios.post(this.route('check'), this.formData).then(res => {
                    this.modal.needFooter = true;
                    console.log(res.data);
                    if(res.data.found){
                        this.modal.icon = faCheckCircle;
                        this.modal.message = "Ruangan Ditemukan! Anda akan segera dibawa ke Ruang Briefingnya"
                        this.enterRoom();
                    }else{
                        this.modal.icon = faTimesCircle;
                        this.modal.message = "Ruangan Tidak Ditemukan! Silahkan cek kembali kode ruangan yang anda masukkan"
                    }
                })
            },
            closeModal(){
                this.modal.needFooter = false;
                this.modal.control = false;
            },
            enterRoom() {
                this.$inertia.get(this.route('wait', this.formData.code));
            }
        }
    }
</script>
