<template>
    <div class="py-3 px-1 relative grid grid-cols-1 justify-items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-700 items-center text-center dark:text-white">
        <img class="mx-auto w-40 h-40" src="https://success.bateh.web.id/img/success.png" alt="Logo SUCCESS">

        <h3 class="text-2xl text-green-500 pt-10">
            SUCCESS Computer Based Test Simulation System
            <p class="text-xs font-bold text-black dark:text-white">v1.9.1</p>
        </h3>

        <div class="flex flex-col">
            <inertia-button :href="route('register')" class="m-2">Daftar</inertia-button>
            <inertia-button :href="route('login')" class="m-2">Masuk</inertia-button>
        </div>

        <div class="text-center text-sm mt-3">
            Handcrafted with &#128154; by The Nub &#10005; SUCCESS IT Development Team<br>
            <inertia-link :href="route('host.register')">&copy; Surabaya-Cepu College Student Association 2021
            </inertia-link>
        </div>
    </div>
</template>

<style scoped>

</style>

<script>
    import JetButton from "@/Jetstream/Button";
    import InertiaButton from "@/Components/Button/InertiaButton";
    export default {
        components: {InertiaButton, JetButton},
        title: "Selamat Datang!"
    }
</script>
