@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .normal-text {
        @apply text-black dark:text-white;
    }

    .title-text{
        @apply text-green-500 text-2xl font-extrabold;
    }

    .subtitle-text {
        @apply text-gray-600 dark:text-gray-400;
    }
}
