<template>
    <app-layout>
        <template #header>
            Verifikasi Pengguna
        </template>

        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-2 m-2">
            <div>
                <expandable-card>
                    <template #title>
                        <div class="flex flex-row justify-between items-center">
                            <p class="m-0 text-base">Peserta Digantung</p>
                            <display-count @click.stop class="mr-1" :icon="iconPeople">
                                {{ unvalidatedParticipants.length }}
                            </display-count>
                        </div>
                    </template>

                    <notification-card v-if="unvalidatedParticipants.length == 0" :icon="iconEmpty">
                        Daftar kosong. Belum ada orang disini.
                    </notification-card>

                    <template v-else>
                        <card-button v-for="person in unvalidatedParticipants" :key="person.id">
                            <template #title>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="truncate">
                                        {{ person.name }}
                                    </p>
                                </div>
                            </template>

                            <p class="mb-1">Mendaftar pada: {{ translateDate(person.created_at, true) }}</p>

                            <jet-button @click.native="validateUser(person.id)">Verifikasi Pengguna Ini</jet-button>
                        </card-button>
                    </template>
                </expandable-card>
            </div>

            <div>
                <expandable-card>
                    <template #title>
                        <div class="flex flex-row justify-between items-center">
                            <p class="m-0 text-base">Admin Digantung</p>
                            <display-count @click.stop class="mr-1" :icon="iconPeople">
                                {{ unvalidatedHosts.length }}
                            </display-count>
                        </div>
                    </template>

                    <notification-card v-if="unvalidatedHosts.length == 0" :icon="iconEmpty">
                        Daftar kosong. Belum ada orang disini.
                    </notification-card>

                    <template v-else>
                        <card-button v-for="person in unvalidatedHosts" :key="person.id">
                            <template #title>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="truncate">
                                        {{ person.name }}
                                    </p>
                                </div>
                            </template>

                            <p class="mb-1">Mendaftar pada: {{ translateDate(person.created_at, true) }}</p>

                            <jet-button @click.native="validateUser(person.id)">Verifikasi Pengguna Ini</jet-button>
                        </card-button>
                    </template>
                </expandable-card>
            </div>

            <div>
            <expandable-card>
                <template #title>
                    <div class="flex flex-row justify-between items-center">
                        <p class="m-0 text-base">Peserta</p>
                        <display-count @click.stop class="mr-1" :icon="iconPeople">
                            {{ participants.length }}
                        </display-count>
                    </div>
                </template>

                <notification-card v-if="participants.length == 0" :icon="iconEmpty">
                    Daftar kosong. Belum ada orang disini.
                </notification-card>

                <template v-else>
                    <card-button v-for="person in participants" :key="person.id">
                        <template #title>
                            <div class="flex flex-row justify-between items-center">
                                <p class="truncate">
                                    {{ person.name }}
                                </p>
                            </div>
                        </template>

                        Mendaftar pada: {{ translateDate(person.created_at, true) }}
                    </card-button>
                </template>
            </expandable-card>
        </div>

        <div>
            <expandable-card>
                <template #title>
                    <div class="flex flex-row justify-between items-center">
                        <p class="m-0 text-base">Admin</p>
                        <display-count @click.stop class="mr-1" :icon="iconPeople">
                            {{ hosts.length }}
                        </display-count>
                    </div>
                </template>

                <notification-card v-if="hosts.length == 0" :icon="iconEmpty">
                    Daftar kosong. Belum ada orang disini.
                </notification-card>

                <template v-else>
                    <card-button v-for="person in hosts" :key="person.id">
                        <template #title>
                            <div class="flex flex-row justify-between items-center">
                                <p class="truncate">
                                    {{ person.name }}
                                </p>
                            </div>
                        </template>

                        Mendaftar pada: {{ translateDate(person.created_at, true) }}
                    </card-button>
                </template>
            </expandable-card>
        </div>
        </div>

        <dialog-modal :show="modalControl" @close="closeModal">
            <template #title>
                Pengguna Telah Diverifikasi!
            </template>

            <template #content>
                Peserta sekarang bisa berkelana di COBALT!
            </template>

            <template #footer>
                <jet-button @click.native="closeModal">Oke Mantap</jet-button>
            </template>
        </dialog-modal>
    </app-layout>
</template>

<script>
import {
    faQuestion,
    faCheck,
    faGhost,
    faUsers,
} from '@fortawesome/free-solid-svg-icons';
import AppLayout from "@/Layouts/AppLayout";
import ExpandableCard from "@/Components/Cards/ExpandableCard";
import DisplayCount from "@/Components/Cards/DisplayCount";
import CardButton from "@/Components/Button/CardButton";
import IconDangerButton from "@/Components/Button/IconDangerButton";
import DialogModal from "@/Jetstream/DialogModal";
import JetButton from "@/Jetstream/Button";
import NotificationCard from "@/Components/Cards/NotificationCard";

export default {
    name: "UserVerify",
    title: 'Verifikasi Pengguna',
    components: {
        NotificationCard,
        JetButton, DialogModal, IconDangerButton, CardButton, DisplayCount, ExpandableCard, AppLayout
    },
    props: ['unvalidatedParticipants', 'unvalidatedHosts', 'participants', 'hosts'],
    data() {
        return {
            iconNotValidated: faQuestion,
            iconValidated: faCheck,
            iconEmpty: faGhost,
            iconPeople: faUsers,
            modalControl: false,
        }
    },
    methods: {
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        openModal() {
            this.modalControl = true;
        },
        closeModal() {
            this.modalControl = false;
        },
        validateUser(id) {
            let data = {
                id: id
            };
            this.$inertia.post(this.route('host.validate'), data, {
                onSuccess: () => {
                    this.openModal();
                }
            })
        },
    }
}
</script>

<style scoped>

</style>
