<template>
    <blank-layout>
        <div class="bg-purple-800 text-white m-2 rounded-lg flex md:flex-row flex-col justify-between">
            <div class="p-2">
                <p class="text-xs">Ruangan Akhir</p>
                <p class="font-extrabold text-xl">{{ room.test.name }}</p>
                <text-transition
                    :test-creator="room.test.researcher"
                    :test-start="translateDate(room.test.start, true)"
                    :test-end="translateDate(room.test.end, true)">
                </text-transition>
            </div>
        </div>

        <title-card>
            <template #title>
                <p>Statistik Pengerjaan Anda</p>
                <p class="text-xs">Paket Soal yang Anda Kerjakan: {{room.question_group.name}}</p>
            </template>

            <div class="mx-auto w-full">
                <apex-chart class="mx-auto text-gray-400" type="pie" width="380" :options="chartOptions" :series="series"></apex-chart>
            </div>
        </title-card>

        <title-card>
            <template #title>
                <p class="m-0">Feedback Anda dengan Soal Ini</p>
                <p class="text-xs">Isi form ini dulu untuk bisa kembali ke halaman awal. Semua pertanyaan wajib untuk dijawab ya :D</p>
            </template>
            <div class="items-center w-full">
                <form @submit.prevent="submitForm">
                    <jet-label>Berikan nilai tentang tingkat kesulitan soal</jet-label>
                    <t-select placeholder="Pilih salah satu..." :options="label" v-model="formData.rating"></t-select>

                    <div class="my-1">
                        <jet-label for="difficult">Jelaskan seingat anda beberapa soal yang menurut anda paling susah dikerjakan.</jet-label>
                        <jet-textarea id="difficult" class="mt-1 block w-full" :limit="500" v-model="formData.difficult"></jet-textarea>
                        <div class="text-right">
                            <p class="p-1 m-0 text-white rounded-b-lg text-xs">{{countChar(formData.difficult, 500)}}</p>
                        </div>
                    </div>

                    <div class="my-1">
                        <jet-label for="feedback">Berikan tanggapan anda tentang soal yang sudah anda kerjakan dan sistem untuk mengerjakan ini.</jet-label>
                        <jet-textarea id="feedback" class="mt-1 block w-full" :limit="500" v-model="formData.feedback"></jet-textarea>
                        <div class="text-right">
                            <p class="p-1 m-0 text-white rounded-b-lg text-xs">{{countChar(formData.feedback, 500)}}</p>
                        </div>
                    </div>

                    <div class="my-1">
                        <jet-label for="critic">Apakah ada kritik untuk soal yang anda kerjakan?</jet-label>
                        <jet-textarea id="critic" class="mt-1 block w-full" :limit="500" v-model="formData.critic"></jet-textarea>
                        <div class="text-right">
                            <p class="p-1 m-0 text-white rounded-b-lg text-xs">{{countChar(formData.critic, 500)}}</p>
                        </div>
                    </div>

                    <div class="my-1">
                        <jet-label for="suggestion">Berikan saran untuk soal dan sistem ini! :D</jet-label>
                        <jet-textarea id="suggestion" class="mt-1 block w-full" :limit="500" v-model="formData.suggestion"></jet-textarea>
                        <div class="text-right">
                            <p class="p-1 m-0 text-white rounded-b-lg text-xs">{{countChar(formData.suggestion, 500)}}</p>
                        </div>
                    </div>

                    <expanded-button type="submit">Kirim Jawaban</expanded-button>
                </form>
            </div>
        </title-card>
    </blank-layout>
</template>

<script>
import BlankLayout from "@/Layouts/BlankLayout";
import TitleCard from "@/Components/Cards/TitleCard";
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import TextTransition from "@/Components/TextTransition";
import JetTextarea from "@/Components/Forms/JetTextarea";
import ExpandedButton from "@/Components/Button/ExpandedButton";
export default {
    name: "FeedbackRoom",
    title: (data) => `${data.room.test.name} - Ruangan Feedback`,
    components: {ExpandedButton, JetTextarea, TextTransition, JetInput, JetLabel, TitleCard, BlankLayout, VueSlider},
    props: ['room', 'result', 'test_id'],
    data() {
        return{
            formData: this.$inertia.form({
                rating: '1',
                difficult: '',
                feedback: '',
                critic: '',
                suggestion: '',
                question_group_id: 0,
            }),
            label: {
                '1': '😵 Tidak mungkin dikerjakan',
                '2': '😭 Sangat Sulit',
                '3': '😥 Lumayan Sulit',
                '4': '🙂 Mudah',
                '5': '😆 Sangat mudah',
                '6': '🤩 Apa tidak ada yang lebih sulit?'
            },
            series: [],
            chartOptions: {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                dataLabels: {
                    formatter: (val, opts) => {
                        let total = this.series.reduce((a, b) => a+b, 0);
                        return `${val / 100 * total} (${val.toFixed(2)}%)`
                    },
                },
                labels: ['Benar', 'Salah', 'Tidak Dijawab'],
                colors: ['#059669', '#DC2626', '#9CA3AF'],
                legend: {
                    position: 'bottom',
                    labels: {
                        colors: '#ffffff',
                    },
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 300
                        },
                    }
                }]
            },
        }
    },
    methods: {
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        countChar(source, limit){
            if(limit - source.length > 0){
                return `${limit -source.length} Karakter Tersisa`
            }else if(limit - source.length == 0){
                return `Batas karakter tercapai!`
            }else{
                return `Kelebihan ${(limit - source.length)*-1} Karakter`
            }
        },
        submitForm(e){
            e.preventDefault();
            this.$inertia.post(this.route('feedback.post'), this.formData);
        },
        translateFeedback(scale){
            switch (scale){
                case '1':
                    return "😵 Tidak mungkin dikerjakan";
                case '2':
                    return "😭 Sangat Sulit";
                case '3':
                    return "😥 Lumayan Sulit";
                case '4':
                    return "🙂 Mudah";
                case '5':
                    return "😆 Sangat mudah";
                case '6':
                    return "🤩 Apa tidak ada yang lebih sulit?";
                default:
                    return "Hm";
            }
        }
    },
    created(){
        this.series = [this.result.correct, this.result.wrong, this.result.empty];
        this.formData.question_group_id = this.test_id;
    }
}
</script>

<style scoped>

</style>
