<template>
    <blank-layout>
        <div class="bg-purple-800 text-white m-2 rounded-lg flex md:flex-row flex-col justify-between">
            <div class="p-2">
                <p class="text-xs">Ruangan Ujian</p>
                <p class="font-extrabold text-xl">{{ room.name }}</p>
                <p class="text-xs">
                    Waktu Pengerjaan: {{ translateDate(room.start, true) }} s/d {{ translateDate(room.end, true) }}
                </p>
            </div>
            <div class="flex items-center content-center bg-green-600 rounded-lg p-2">
                <div v-if="!timeUp">
                    <p class="m-0 text-xs">Sisa Waktu</p>
                    <p class="m-0">
                        {{ hour }}j {{ min }}m {{ sec }}d
                    </p>
                </div>
                <p class="m-0" v-else>
                    Waktu habis!
                </p>
            </div>
        </div>

        <div class="mt-3 mx-1">
            <notification-card v-if="hour == 0 && min <= 5 && min >= 1">
                <p>Waktu Ujian Tinggal {{ min }} Menit!</p>
                <p>Ketika waktu habis anda akan secara otomatis dibawa ke Ruang Selanjutnya! Jadi segera selesaikan
                    ya</p>
            </notification-card>

            <notification-card v-if="hour == 0 && min <= 0">
                <p>Ujian akan berakhir dalam <span class="font-extrabold">{{ sec }}</span>!</p>
                <p>Apabila ada yang ingin anda jawab, silahkan segera jawab sebelum anda dibawa ke Ruang
                    Selanjutnya!</p>
            </notification-card>
        </div>

        <div class="grid md:grid-cols-4 sm:grid-cols-1">
            <div class="md:col-span-3" @click.right.prevent @copy.prevent>
                <title-card v-if="onDisplay.content.question_attribute != null">
                    <template #title>
                        <p class="text-sm break-words">{{ onDisplay.content.question_attribute.command }}</p>
                    </template>

                    <vue-mathjax :formula="onDisplay.content.question_attribute.attribute" :safe="false"></vue-mathjax>
                </title-card>

                <title-card>
                    <template #title>
                        <p class="text-sm">Soal #{{ onDisplay.content.number }}</p>
                    </template>

                    <vue-mathjax class="break-words" :formula="onDisplay.content.question" :safe="false"></vue-mathjax>
                </title-card>

                <div class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 p-1 flex flex-col">
                    <div
                        class="bg-gray-300 dark:bg-gray-700 hover:bg-green-400 dark:text-white shadow-md rounded-lg m-1 flex flex-row items-center"
                        v-for="(ans, index) in onDisplay.content.answer_option" v-bind:key="ans.id"
                        @click="pickAnswer(onDisplay.content.id, ans.id)">
                        <div class="mr-1 p-1">
                            <icon-button :icon="iconSelected" size="lg" v-if="amISelectedAnswer(ans.id)"></icon-button>
                            <icon-danger-button :icon="iconNotSelected" size="lg" v-else></icon-danger-button>
                        </div>
                        <vue-mathjax class="m-0 p-1 overflow-x-auto break-words" :formula="ans.answer" :safe="false"></vue-mathjax>
                    </div>
                </div>
            </div>

            <title-card>
                <template #title>
                    <p class="text-sm">Navigasi Soal</p>
                </template>
                <div class="flex flex-wrap gap-1">
                    <div
                        class="rounded-lg py-2 bg-gray-500 hover:bg-purple-600 text-center w-9 h-9 font-bold text-white"
                        v-for="(q, index) in test.question" v-bind:key="q.id" @click="displayQuestion(index)"
                        v-bind:class="{'bg-green-600' : isAnswered(index), 'ring-4 ring-purple-700' : onDisplay.index === index}">
                        {{ index + 1 }}
                    </div>
                </div>
                <div class="text-center mt-2">
                    <danger-button @click.native="openConfirmModal">
                        <font-awesome-icon :icon="iconFinish" class="mr-1"></font-awesome-icon>
                        Akhiri Lebih Awal
                    </danger-button>
                </div>
            </title-card>

        </div>

        <jet-dialog-modal :show="modal" @close="closeConfirmModal">
            <template #title>
                Konfirmasi Mengakhiri Ujian
            </template>

            <template #content>
                Apakah anda yakin untuk mengakhiri ujian lebih awal? Anda masih memiliki sisa waktu {{ hour }} jam
                {{ min }} menit {{ sec }} detik
            </template>

            <template #footer>
                <secondary-button @click.native="closeConfirmModal">
                    Tidak Jadi
                </secondary-button>
                <danger-button class="ml-2" @click.native="finishTest">
                    Iya Saya Yakin
                </danger-button>
            </template>
        </jet-dialog-modal>
    </blank-layout>
</template>

<script>
import {
    faFlagCheckered,
    faCheckCircle,
    faQuestion, faClock,
} from '@fortawesome/free-solid-svg-icons';
import BlankLayout from '@/Layouts/BlankLayout'
import BasicCard from "@/Components/Cards/BasicCard";
import TitleCard from "@/Components/Cards/TitleCard";
import Countdown from "@/Components/Countdown";
import IconButton from "@/Components/Button/IconButton";
import IconDangerButton from "@/Components/Button/IconDangerButton";
import TextTransition from "@/Components/TextTransition";
import NotificationCard from "@/Components/Cards/NotificationCard";
import DangerButton from "@/Jetstream/DangerButton";
import SecondaryButton from "@/Jetstream/SecondaryButton";
import JetDialogModal from "@/Jetstream/DialogModal";
import { VueMathjax } from 'vue-mathjax';

export default {
    name: "MainRoom",
    title: (data) => `${data.room.name} - Ruangan Ujian`,
    components: {
        VueMathjax,
        JetDialogModal,
        SecondaryButton,
        DangerButton,
        NotificationCard,
        TextTransition, IconDangerButton, IconButton, Countdown, TitleCard, BasicCard, BlankLayout
    },
    props: ['test', 'end', 'room', 'my_session'],
    data() {
        return {
            onDisplay: {
                index: 0,
                content: {}
            },
            iconSelected: faCheckCircle,
            iconNotSelected: faQuestion,
            iconFinish: faFlagCheckered,
            modal: false,
            now: new Date(),
            timer: null,
            timeUp: false,
            endDate: null,
        }
    },
    methods: {
        openConfirmModal() {
            this.modal = true;
        },
        finishTest() {
            this.$inertia.get(this.route('feedback', this.room.code));
        },
        closeConfirmModal() {
            this.modal = false;
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        amISelectedAnswer(id) {
            for (let i = 0; i < this.test.question[this.onDisplay.index].answer_option.length; i++) {
                if (this.test.question[this.onDisplay.index].answer_option[i].id == id) {
                    let temp = this.test.question[this.onDisplay.index].answer_option[i];
                    for (let j = 0; j < temp.user_question_answer.length; j++) {
                        if (temp.user_question_answer[j].user_question_session_id == this.my_session) return true;
                    }
                }
            }
            return false;
        },
        isAnswered(index) {
            for (let i = 0; i < this.test.question[index].answer_option.length; i++) {
                if (this.test.question[index].answer_option[i].user_question_answer.length != 0) return true;
            }
            return false;
        },
        displayQuestion(number) {
            this.onDisplay.index = number;
            this.onDisplay.content = this.test.question[number];
        },
        pickAnswer(question, answer) {
            this.$inertia.post(this.route('answer'), {
                session_id: this.my_session,
                question_id: question,
                answer: answer
            })
        },
        timeIsUp(){
            if(!this.timeUp){
                this.timeUp = true;
                this.$inertia.get(this.route('feedback', this.room.code));
            }
        },
    },
    created() {
        this.endDate = new Date(this.end);
        this.onDisplay.index = 0;
        this.onDisplay.content = this.test.question[0];
    },
    computed: {
        hour() {
            let h = Math.trunc((this.endDate - this.now) / 1000 / 3600);
            return (h > 9 || h < 0) ? h : '0' + h;
        },
        min() {
            let m = Math.trunc((this.endDate - this.now) / 1000 / 60) % 60;
            return (m > 9 || m < 0) ? m : '0' + m;
        },
        sec() {
            let s = Math.trunc((this.endDate - this.now) / 1000) % 60
            return (s > 9 || s < 0) ? s : '0' + s;
        }
    },
    watch: {
        endDate: {
            immediate: true,
            handler(newVal) {
                if (this.timer) {
                    clearInterval(this.timer)
                }
                this.timer = setInterval(() => {
                    this.now = new Date()
                    if (this.now > newVal) {
                        this.timeIsUp();
                    }
                }, 1000)
            }
        }
    },
    beforeDestroy() {
        clearInterval(this.timer)
    }
}
</script>

<style scoped>

</style>
