<template>
    <blank-layout>
        <title-card>
            <template #title>
                <p class="text-xs">Ruangan Briefing</p>
                <p>{{test.name}}</p>
            </template>

            <table class="table w-full">
                <tr>
                    <td class="font-extrabold text-left text-green-500">Deskripsi Ujian</td>
                    <td class="text-right">{{ test.description }}</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Jumlah Paket Soal Tersedia</td>
                    <td class="text-right">{{ test.question_group.length }}</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Jumlah Soal</td>
                    <td class="text-right">{{ max }} Soal</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Durasi Pengerjaan</td>
                    <td class="text-right">{{ getDuration(test.start, test.end) }}</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Waktu Mulai</td>
                    <td class="text-right">{{ translateDate(test.start, true) }}</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Waktu Berakhir</td>
                    <td class="text-right">{{ translateDate(test.end, true) }}</td>
                </tr>
                <tr>
                    <td class="font-extrabold text-left text-green-500">Para Perumus Soal</td>
                    <td class="text-right">{{ test.researcher }}</td>
                </tr>
            </table>

            <notification-card :icon="iconWarning" v-if="test.is_open == 0">
                <p class="font-extrabold text-lg not-italic">
                    Mohon Maaf ujian tidak tersedia karena sedang tidak aktif atau sudah diluar jadwal ujian. Silahkan hubungi admin :)
                </p>
            </notification-card>
        </title-card>

        <div class="flex flex-wrap items-center flex-col gap-2 sm:flex-row justify-between mx-2">
            <inertia-danger-button :href="route('dashboard')">
                <font-awesome-icon :icon="iconBack" class="mr-1"></font-awesome-icon>
                Kembali Ke Beranda
            </inertia-danger-button>
            <jet-button @click.native="$inertia.get(route('begin', test.code))" :disabled="isTestNotStarted">
                <font-awesome-icon :icon="iconStart" class="mr-1"></font-awesome-icon>
                Mulai Ujian
            </jet-button>
        </div>
    </blank-layout>
</template>

<script>
import BlankLayout from "@/Layouts/BlankLayout";
import TitleCard from "@/Components/Cards/TitleCard";
import DangerButton from "@/Jetstream/DangerButton";
import JetButton from "@/Jetstream/Button";
import {
    faAngleDoubleLeft,
    faFlag,
    faExclamationTriangle,
} from '@fortawesome/free-solid-svg-icons';
import NotificationCard from "@/Components/Cards/NotificationCard";
import InertiaDangerButton from "@/Components/Button/InertiaDangerButton";

export default {
    name: "WaitingRoom",
    title: (data) => `${data.test.name} - Ruangan Briefing`,
    props: ['test', 'max'],
    data(){
        return{
            iconBack: faAngleDoubleLeft,
            iconStart: faFlag,
            iconWarning: faExclamationTriangle,
            currentTime: null,
        }
    },
    components: {InertiaDangerButton, NotificationCard, JetButton, DangerButton, TitleCard, BlankLayout},
    created(){
        let x = setInterval(() => {
            this.currentTime = new Date()
        }, 1000)
    },
    computed: {
        isTestNotStarted(){
            if(this.test.is_open == 1){
                let start = new Date(this.test.start);
                let end = new Date(this.test.end);

                return !(start <= this.currentTime && this.currentTime <= end);
            }
            else return true;
        }
    },
    methods: {
        dateBetween(startDate, endDate){
            let start = new Date(startDate), end = new Date(endDate), now = new Date();
            return start <= now && now <= end;
        },
        getDuration(startDate, endDate){
            let start = new Date(startDate), end = new Date(endDate);
            let h = Math.trunc((end - start) / 1000 / 3600);
            let m = Math.trunc((end - start) / 1000 / 60) % 60;
            let s = Math.trunc((end - start) / 1000) % 60;

            let hours = h > 9 ? h : '0' + h;
            let minutes =  m > 9 ? m : '0' + m;
            let seconds = s > 9 ? s : '0' + s;

            let str = "";
            if(hours != 0){
                str += `${hours} Jam`;
            }
            if(minutes != 0){
                str += ` ${minutes} Menit`;
            }
            if(seconds != 0){
                str += ` ${seconds} Detik`;
            }

            return str;
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        }
    }
}
</script>

<style scoped>

</style>
