<template>
    <div class="bg-purple-800 text-white m-2 rounded-lg flex flex-col justify-between" @click.right.prevent @copy.prevent @paste.prevent>
        <div class="p-2">
            <p class="font-extrabold text-xl">
                <slot name="title"></slot>
            </p>
            <div class="text-xs">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TestHeader"
}
</script>

<style scoped>

</style>
