<template>
    <div class="text-xs">
        <transition name="fade" mode="out-in">
            <p v-if="index == 0">{{arr[0]}}</p>
            <p v-else-if="index == 1">{{arr[1]}}</p>
            <p v-else-if="index == 2">{{arr[2]}}</p>
        </transition>
    </div>
</template>

<script>
export default {
    name: "TextTransition",
    props: {
        testStart: {
            required: true,
            type: String,
        },
        testEnd: {
            required: true,
            type: String
        },
        testCreator: {
            required: true,
            type: String
        }
    },
    data(){
        return{
            shown: 'main',
            arr: [`Waktu Pengerjaan: ${this.testStart} s/d ${this.testEnd}`, `Soal Disusun Oleh: ${this.testCreator}`, `Selamat Datang! SUCCESS COBALT - Computer Based Test Simulation System`],
            index: 0,
        }
    },
    method: {
        nextString(){
            (this.index+1 == this.arr.length) ? this.index = 0 : this.index++;
            switch (this.index){
                case 0:
                    return this.arr[0];
                case 1:
                    return this.arr[1];
                case 2:
                    return this.arr[2];
            }
        },
        nextIndex(){
            (this.index+1 == this.arr.length) ? this.index = 0 : this.index++;
        }
    },
    created(){
        this.shown = setInterval(() => (this.index+1 == this.arr.length) ? this.index = 0 : this.index++, 3000);
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}
</style>
