<template>
    <app-layout>
        <template #header>
            Edit Soal
        </template>

        <div class="grid md:grid-cols-3 sm:grid-cols-1">
            <div class="m-2">
                <div class="mb-1 w-full">
                    <expandable-card>
                        <template #title>
                            <p class="m-0 text-base">Daftar Bantuan</p>
                        </template>

                        <div class="grid grid-cols-3 gap-2 m-1">
                            <jet-button @click.native="openHelpModal">
                                <div class="text-center w-full">
                                    <font-awesome-icon :icon="iconHelp" class="mr-1" size="lg"></font-awesome-icon>
                                    <p>Format Teks</p>
                                </div>
                            </jet-button>
                            <jet-button @click.native="openMathModal">
                                <div class="text-center w-full">
                                    <font-awesome-icon :icon="iconMath" class="mr-1" size="lg"></font-awesome-icon>
                                    <p>Rumus</p>
                                </div>
                            </jet-button>
                            <jet-button @click.native="openImageModal">
                                <div class="text-center w-full">
                                    <font-awesome-icon :icon="iconImage" class="mr-1" size="lg"></font-awesome-icon>
                                    <p>Gambar</p>
                                </div>
                            </jet-button>
                        </div>
                    </expandable-card>
                </div>

                <div class="my-2 w-full">
                    <expandable-card>
                        <template #title>
                            <div class="flex flex-row justify-between items-center">
                                <p class="m-0 text-base">Atribut Soal</p>
                                <div class="flex flex-row">
                                    <display-count @click.stop class="mr-1">
                                        {{ test.question_attribute.length }}
                                    </display-count>
                                    <icon-button @click.native.stop="newAttribute"></icon-button>
                                </div>
                            </div>
                        </template>

                        <notification-card v-if="test.question_attribute.length == 0">
                            Daftar kosong. Silahkan klik tombol tambah hijau di kanan atas dekat tulisan ini untuk
                            menambah bacaan baru.
                        </notification-card>
                        <div v-else>
                            <div class="text-center text-gray-400 text-xs italic py-1">
                                <font-awesome-icon :icon="iconInfo" size="xs"></font-awesome-icon>
                                Anda bisa merubah urutan atribut dengan menahan tombol panah <span class="not-italic">(<font-awesome-icon
                                :icon="iconSort"></font-awesome-icon>)</span> lalu geser ke urutan yang diinginkan :)
                            </div>
                            <draggable v-model="test.question_attribute" v-bind="dragAttribute" @start="dragStarted"
                                       @end="dragFinished('attribute')" handle=".handleAttribute">
                                <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                                    <div v-for="(item, index) in test.question_attribute" :key="item.id" class="grid grid-rows-1 gap-2 mx-1">
                                        <div class="flex flex-row items-center my-1">
                                            <div class="handleAttribute py-1 px-2 rounded-l-lg bg-blue-500 text-white">
                                                <font-awesome-icon :icon="iconSort"></font-awesome-icon>
                                            </div>
                                            <card-button>
                                                <template #title>
                                                    <p class="text-xs text-gray-400 font-normal">#{{item.code}}</p>
                                                    <p>{{ index + 1 }}. {{ shortenTitle(item.command) }}</p>
                                                </template>

                                                <template #buttons>
                                                    <div class="flex flex-row gap-2">
                                                        <icon-button size="lg" :icon="iconEdit"
                                                                     @click.native="setOnDisplay('attribute', index)"></icon-button>
                                                        <icon-danger-button size="lg" :icon="iconDelete"
                                                                            @click.native.stop="deleteItem(item.id, 'attribute')"></icon-danger-button>
                                                    </div>
                                                </template>

                                                <p class="italic text-xs">Terakhir dirubah oleh <span
                                                    class="font-bold text-green-500">{{ item.user.name }}</span> pada
                                                    {{ translateDate(item.updated_at, true) }}</p>
                                            </card-button>
                                        </div>
                                    </div>
                                </transition-group>
                            </draggable>
                        </div>
                    </expandable-card>
                </div>

                <div class="mt-1 w-full">
                    <expandable-card>
                        <template #title>
                            <div class="flex flex-row justify-between items-center">
                                <p class="m-0 text-base">Pertanyaan</p>
                                <div class="flex flex-row">
                                    <display-count @click.stop class="mr-1">
                                        {{ test.question.length }}
                                    </display-count>
                                    <icon-button @click.native.stop="newQuestion"></icon-button>
                                </div>
                            </div>
                        </template>

                        <notification-card v-if="test.question.length == 0">
                            Daftar kosong. Silahkan klik tombol tambah hijau di kanan atas dekat tulisan ini untuk
                            menambah pertanyaan baru.
                        </notification-card>
                        <div v-else>
                            <div class="text-center text-gray-400 text-xs italic py-1">
                                <font-awesome-icon :icon="iconInfo" size="xs"></font-awesome-icon>
                                Anda bisa merubah urutan soal dengan menahan tombol panah <span class="not-italic">(<font-awesome-icon
                                :icon="iconSort"></font-awesome-icon>)</span> lalu geser ke urutan yang diinginkan :)
                            </div>
                            <draggable v-model="test.question" v-bind="dragQuestion" @start="dragStarted"
                                       handle=".handleQuestion"
                                       @end="dragFinished('question')">
                                <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                                    <div v-for="(item, index) in test.question" :key="item.id" class="grid grid-rows-1 gap-2 mx-1">
                                        <div class="flex flex-row items-center my-1">
                                            <div class="handleQuestion py-1 px-2 rounded-l-lg bg-blue-500 text-white">
                                                <font-awesome-icon :icon="iconSort"></font-awesome-icon>
                                            </div>

                                            <card-button>
                                                <template #title>
                                                    <p class="text-xs text-gray-400 font-normal">#{{item.code}}</p>
                                                    <p>No {{ index + 1 }}. {{ shortenTitle(item.question) }}</p>
                                                </template>

                                                <template #buttons>
                                                    <div class="flex flex-row gap-2">
                                                        <icon-button @click.native="setOnDisplay('question', index)"
                                                                     size="lg" :icon="iconEdit"></icon-button>
                                                        <icon-danger-button
                                                            @click.native.stop="deleteItem(item.id, 'question')"
                                                            :icon="iconDelete" size="lg"></icon-danger-button>
                                                    </div>
                                                </template>
                                                <p class="italic text-xs">Terakhir dirubah oleh <span
                                                    class="font-bold text-green-500">{{ item.user.name }}</span> pada
                                                    {{ translateDate(item.updated_at, true) }}</p>
                                            </card-button>
                                        </div>
                                    </div>
                                </transition-group>
                            </draggable>
                        </div>
                    </expandable-card>
                </div>
            </div>

            <div class="col-span-2">
                <div class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 p-2">
                    <div v-if="onDisplay.type == null"
                         class="flex flex-col items-center text-center dark:text-white m-2 h-full">
                        <font-awesome-icon :icon="iconEmpty" size="6x"></font-awesome-icon>
                        Silahkan Pilih Apa yang Mau Diedit dari Panel Kiri :)
                    </div>

                    <template v-else-if="onDisplay.type == 'attribute'">
                        <form @submit="sendData">
                            <div class="flex flex-row justify-between items-center w-full border-b border-gray-400">
                                <div class="flex flex-col font-extrabold text-green-500">
                                    <p class="text-lg">Panel Edit Atribut</p>
                                    <p class="text-sm">Atribut ke-{{ onDisplay.content.order }} (#{{ onDisplay.content.code }})</p>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <jet-button type="submit">
                                        <font-awesome-icon :icon="iconSave" class="mr-1"></font-awesome-icon>
                                        Simpan
                                    </jet-button>
                                    <jet-danger-button type="button" @click.native="closePanel">
                                        <font-awesome-icon :icon="iconClose"></font-awesome-icon>
                                    </jet-danger-button>
                                </div>
                            </div>

                            <jet-label for="command">
                                Perintah ({{ countChar(onDisplay.content.command, 255) }})
                            </jet-label>
                            <jet-input id="command" type="text" class="mt-1 block w-full"
                                       v-model="onDisplay.content.command" required autofocus/>

                            <jet-label for="attribute">
                                Isi [Support tag HTML] ({{ countChar(onDisplay.content.attribute, 10000) }})
                            </jet-label>
                            <jet-textarea :limit="10000" required class="text-xs mt-1 block w-full" id="question"
                                          v-model="onDisplay.content.attribute"></jet-textarea>

                            <jet-label>
                                Isi yang Dilihat Peserta
                            </jet-label>
                            <div
                                class="bg-gray-100 dark:bg-gray-900 dark:text-white shadow-md rounded-lg p-2 overflow-ellipsis break-words">
                                <vue-mathjax :formula="onDisplay.content.attribute" :safe="false"></vue-mathjax>
                            </div>
                        </form>
                    </template>

                    <template v-else-if="onDisplay.type == 'question'">
                        <form @submit="sendData">
                            <div class="flex flex-row justify-between items-center w-full border-b border-gray-400">
                                <div class="flex flex-col font-extrabold text-green-500">
                                    <p class="text-lg">Panel Edit Pertanyaan</p>
                                    <p class="text-sm">Soal nomor {{ onDisplay.content.number }} (#{{ onDisplay.content.code }})</p>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <jet-button type="submit">
                                        <font-awesome-icon :icon="iconSave" class="mr-1"></font-awesome-icon>
                                        Simpan
                                    </jet-button>
                                    <jet-danger-button type="button" @click.native="closePanel">
                                        <font-awesome-icon :icon="iconClose"></font-awesome-icon>
                                    </jet-danger-button>
                                </div>
                            </div>

                            <div class="my-1">
                                <jet-label for="attribute">
                                    Atribut yang diperlukan Soal
                                </jet-label>
                                <div class="flex flex-row items-center w-full">
                                    <t-rich-select
                                        id="attribute"
                                        required
                                        v-model="onDisplay.content.question_attribute_id"
                                        :options="test.question_attribute"
                                        value-attribute="id"
                                        text-attribute="command">
                                    </t-rich-select>
                                    <div class="ml-1">
                                        <icon-danger-button type="button"
                                                            @click.native.stop="setNoAttribute"></icon-danger-button>
                                    </div>
                                </div>
                            </div>

                            <div class="my-1">
                                <jet-label for="question">
                                    Isi Pertanyaan [Support tag HTML] ({{
                                        countChar(onDisplay.content.question, 10000)
                                    }})
                                </jet-label>
                                <jet-textarea class="text-xs mt-1 block w-full" id="question" required :limit="10000"
                                              v-model="onDisplay.content.question"></jet-textarea>
                            </div>

                            <div class="my-1">
                                <jet-label>
                                    Isi yang Dilihat Peserta
                                </jet-label>
                                <div
                                    class="bg-gray-100 dark:bg-gray-900 dark:text-white shadow-md rounded-lg p-2 break-words">
                                    <vue-mathjax :formula="onDisplay.content.question" :safe="false"></vue-mathjax>
                                </div>
                            </div>

                            <expandable-card>
                                <template #title>
                                    <div class="flex flex-row justify-between items-center">
                                        <p class="m-0 text-base">Opsi Jawaban</p>
                                        <div class="flex flex-row">
                                            <display-count @click.stop class="mr-1">
                                                {{ onDisplay.content.answer_option.length }}
                                            </display-count>
                                            <icon-button type="button"
                                                         @click.native.stop="newAnswerOptions"></icon-button>
                                        </div>
                                    </div>
                                </template>

                                <notification-card v-if="onDisplay.content.answer_option.length == 0">
                                    Daftar kosong. Silahkan klik tombol tambah hijau di kanan atas dekat tulisan ini
                                    untuk menambah opsi jawaban baru.
                                </notification-card>

                                <template v-else>
                                    <div class="text-center text-gray-400 text-xs italic py-1">
                                        <font-awesome-icon :icon="iconInfo" size="sm"></font-awesome-icon>
                                        Tombol hijau disamping kanan masing-masing jawaban menggambarkan jawaban
                                        tersebut merupakan yang benar <span class="not-italic">(<font-awesome-icon
                                        :icon="iconCorrect" size="sm"></font-awesome-icon>)</span> atau salah <span
                                        class="not-italic">(<font-awesome-icon :icon="iconFalse"
                                                                               size="sm"></font-awesome-icon>)</span>.
                                        Setiap pertanyaan hanya bisa ada 1 jawaban yang benar, jadi apabila anda
                                        mengatur salah satu untuk menjadi benar, jawaban lain secara otomatis menjadi
                                        salah.
                                    </div>

                                    <div
                                        class="bg-gray-100 dark:bg-gray-700 dark:text-white shadow-md rounded-lg m-1 p-1 flex flex-row justify-between items-center"
                                        v-for="(ans, index) in onDisplay.content.answer_option" v-bind:key="ans.id"
                                    >
                                        <div class="flex flex-col w-full">
                                            <div class="mb-1">
                                                <jet-label>
                                                    <div class="text-xs">
                                                        <p class="italic">#{{ ans.code }}</p>
                                                        <p>Isi Opsi Jawaban [Support tag HTML]({{ countChar(ans.answer, 255) }})</p>
                                                    </div>
                                                </jet-label>
                                                <jet-input type="text" class="mt-1 block w-full" v-model="ans.answer"
                                                           required/>
                                            </div>

                                            <div class="mt-1">
                                                <jet-label>
                                                    <p class="text-xs">Yang Dilihat Peserta</p>
                                                </jet-label>
                                                <div
                                                    class="bg-gray-100 dark:bg-gray-900 dark:text-white shadow-md rounded-lg p-2 mt-1 break-words">
                                                    <vue-mathjax :formula="ans.answer" :safe="false"></vue-mathjax>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="m-1">
                                                <icon-button type="button"
                                                             @click.native.stop="switchAnswerCorrectness(index)"
                                                             :icon="(ans.is_correct == 1) ? iconCorrect : iconFalse"
                                                             size="lg"></icon-button>
                                            </div>
                                            <div class="m-1">
                                                <icon-danger-button type="button"
                                                                    @click.native.stop="deleteAnswerOption(index)"
                                                                    size="lg">Hapus
                                                </icon-danger-button>
                                            </div>
                                        </div>
                                    </div>
                                </template>

                            </expandable-card>
                        </form>
                    </template>
                </div>
            </div>
        </div>

        <jet-dialog-modal :show="helpModalControl" @close="closeHelpModal">
            <template #title>
                Bantuan Menulis Soal/Atribut
            </template>

            <template #content>
                <h4 class="text-lg font-extrabold">For Your Information</h4>
                <p>Untuk mempermudah, teks bacaan dan soal akan diproses dengan HTML mentah, jadi kalian bisa
                    mendekorasi teks sesuka kalian dengan memasukkan tag HTML/skrip CSS kalian sendiri. Developer
                    menggunakan framework CSS bernama "Tailwind CSS" untuk mempercantik tampilan, jadi kalian juga bisa
                    memanfaatkannya.</p>
                <h4 class="text-lg font-extrabold mt-2">Cheat Sheet HTML</h4>
                <table class="w-full">
                    <thead class="bg-green-600 text-white">
                    <tr>
                        <th>
                            Penulisan
                        </th>
                        <th>
                            Contoh Hasil
                        </th>
                    </tr>
                    </thead>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            &lt;div class="text-center"&gt;Teks rata tengah&lt;/div&gt;
                        </td>
                        <td>
                            <div class="text-center">Teks rata tengah</div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Baris &lt;br&gt;baru
                        </td>
                        <td>
                            Baris<br> baru
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;b&gt;Tebal&lt;/b&gt;
                        </td>
                        <td>
                            Teks <b>Tebal</b>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;i&gt;Miring&lt;/i&gt;
                        </td>
                        <td>
                            Teks <i>Miring</i>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Garis &lt;u&gt;Bawah&lt;/u&gt;
                        </td>
                        <td>
                            Garis <u>Bawah</u>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;mark&gt;Ditandai&lt;/mark&gt;
                        </td>
                        <td>
                            Teks
                            <mark>Ditandai</mark>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;del&gt;Dicoret&lt;/del&gt;
                        </td>
                        <td>
                            Teks
                            <del>Dicoret</del>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;sup&gt;Diatas&lt;/sup&gt; (Superscript)
                        </td>
                        <td>
                            Teks <sup>Diatas</sup> (Superscript)
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Teks &lt;sub&gt;Dibawah&lt;/sub&gt; (Subscript)
                        </td>
                        <td>
                            Teks <sub>Dibawah</sub> (Subscript)
                        </td>
                    </tr>
                </table>
            </template>

            <template #footer>
                <jet-button class="ml-2" @click.native="closeHelpModal">
                    Oke Mantap
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="messageModal.control" @close="closeMessageModal">
            <template #title>
                {{ messageModal.title }}
            </template>

            <template #content>
                {{ messageModal.message }}
            </template>

            <template #footer>
                <jet-button class="ml-2" @click.native="closeMessageModal">
                    Oke Mantap
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="mathModalControl" @close="closeMathModal">
            <template #title>Bantuan Membuat Rumus Matematika</template>

            <template #content>
                <p>Agak sulit si dijelaskan :"). Silahkan <a
                    href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference"
                    class="text-blue-500 underline">Klik disini</a> untuk yang lebih jelas.</p><br>
                <p>Tapi yang jelas, anda harus memberi tahu browser untuk merubah tulisan anda menjadi rumus dengan
                    mencepit rumus anda dengan tanda <code>$ ... $</code> untuk membuat rumus sebaris dengan teks lain,
                    <code>$$ ... $$</code> untuk membuat rumus berada di baris baru.</p>
                <p>Dengan bantuan ini anda bisa membuat lebih banyak seperti Matriks, diantara, dan masih banyak notasi
                    matematika lain dengan membaca di link di atas.</p>
                <p>Contoh: x = {-b \pm \sqrt{b^2-4ac} \over 2 a} akan menghasilkan
                    <vue-mathjax formula="$$x = {-b \pm \sqrt{b^2-4ac} \over 2 a}.$$"></vue-mathjax>
                </p>
                <br>
                <p>Berikut adalah beberapa Cheat Sheet, selain itu silahkan baca dari link diatas.</p>
                <table class="w-full">
                    <thead class="bg-green-600 text-white">
                    <tr>
                        <th>
                            Nama Format
                        </th>
                        <th>
                            Penulisan
                        </th>
                        <th>
                            Contoh Hasil
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Simbol operator
                        </td>
                        <td>
                            + - \pm \times \div \cdot
                        </td>
                        <td>
                            <vue-mathjax formula="$ {+} {-} \pm \times \div \cdot $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Lebih Kecil
                        </td>
                        <td>
                            \lt \le \leq \leqq \leqslant
                        </td>
                        <td>
                            <vue-mathjax formula="$ \lt \le \leq \leqq \leqslant $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Lebih Besar
                        </td>
                        <td>
                            \gt \ge \geq \geqq \geqslant
                        </td>
                        <td>
                            <vue-mathjax formula="$ \gt \ge \geq \geqq \geqslant $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Tidak Sama dengan/Lebih
                        </td>
                        <td>
                            \neq \not\lt \not\gt
                        </td>
                        <td>
                            <vue-mathjax formula="$ \neq \not\lt \not\gt $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Pembagian
                        </td>
                        <td>
                            x \over 2y + {\left( {5 \over 10} \right)}
                        </td>
                        <td>
                            <vue-mathjax formula="$ x \over 2y + {\left( {5 \over 10} \right)} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Derajat
                        </td>
                        <td>
                            45^\circ
                        </td>
                        <td>
                            <vue-mathjax formula="$ 45^\circ $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Pangkat
                        </td>
                        <td>
                            x^{2y} + y^x
                        </td>
                        <td>
                            <vue-mathjax formula="$ x^{2y} + y^x $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Akar
                        </td>
                        <td>
                            \sqrt{x} + \sqrt[y]{x}
                        </td>
                        <td>
                            <vue-mathjax formula="$ \sqrt{x} + \sqrt[y]{x} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Logaritma
                        </td>
                        <td>
                            \log_2 x
                        </td>
                        <td>
                            <vue-mathjax formula="$ \log_2 x $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Limit
                        </td>
                        <td>
                            \lim_{x\to 0}
                        </td>
                        <td>
                            <vue-mathjax formula="$ \lim_{x\to 0} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Sigma
                        </td>
                        <td>
                            \sum_{i=0}^n
                        </td>
                        <td>
                            <vue-mathjax formula="$ \sum_{i=0}^n $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Kurung lebih besar
                        </td>
                        <td>
                            \Biggl(\biggl(\Bigl(\bigl((x)\bigr)\Bigr)\biggr)\Biggr)
                        </td>
                        <td>
                            <vue-mathjax
                                formula="$ {\Biggl(\biggl(\Bigl(\bigl((x)\bigr)\Bigr)\biggr)\Biggr)} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Himpunan
                        </td>
                        <td>
                            \cup \cap \subset \subseteq \subsetneq \supset \in \notin \varnothing
                        </td>
                        <td>
                            <vue-mathjax
                                formula="$ \cup \cap \subset \subseteq \subsetneq \supset \in \notin \varnothing $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Operasi
                        </td>
                        <td>
                            \approx \sim \simeq \cong \equiv
                        </td>
                        <td>
                            <vue-mathjax formula="$ \approx \sim \simeq \cong \equiv $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Tak hingga
                        </td>
                        <td>
                            \infty
                        </td>
                        <td>
                            <vue-mathjax formula="$ \infty $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Tak hingga
                        </td>
                        <td>
                            {b\pmod n} \times {a\bmod 17}
                        </td>
                        <td>
                            <vue-mathjax formula="$ {b\pmod n} \times {a\bmod 17} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Panah
                        </td>
                        <td>
                            \to \rightarrow \leftarrow \Rightarrow \Leftarrow
                        </td>
                        <td>
                            <vue-mathjax formula="$ \to \rightarrow \leftarrow \Rightarrow \Leftarrow $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Titik Titik
                        </td>
                        <td>
                            {a}+{\ldots}+{b} \times {a}+{\cdots}+{b}
                        </td>
                        <td>
                            <vue-mathjax formula="$ {a}+{\ldots}+{b} \times {a}+{\cdots}+{b} $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Bundaran
                        </td>
                        <td>
                            \oplus \circ \bullet
                        </td>
                        <td>
                            <vue-mathjax formula="$ \oplus \circ \bullet $"></vue-mathjax>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300 border-opacity-50">
                        <td>
                            Simbol Fisika (Huruf Yunani)
                        </td>
                        <td>
                            \alpha \beta \omega \epsilon \varepsilon \phi \varphi \Omega \Delta
                        </td>
                        <td>
                            <vue-mathjax
                                formula="$ \alpha \beta \omega \epsilon \varepsilon \phi \varphi \Omega \Delta $"></vue-mathjax>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </template>

            <template #footer>
                <jet-button @click.native="closeMathModal">
                    Oke Paham
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="imageModalControl" @close="closeImageModal">
            <template #title>Bantuan Memasukkan Gambar</template>

            <template #content>
                <ol class="list-decimal ml-4">
                    <li>Silahkan simpan gambar ke <a
                        href="https://drive.google.com/drive/folders/1xqtJyr3YTnClJxOg6MtzMyca-q-2fET0?usp=sharing"
                        class="text-blue-500 underline">Google Drive Ini</a> ke folder yang anda inginkan.
                    </li>
                    <li>Klik kanan pada gambar (di desktop)/tahan gambar (di android) pada gambar yang sudah diupload.
                        Lalu pilih <b>"Dapatkan Link"</b>. Dan salin link tersebut.
                    </li>
                    <li>
                        Link akan berbentuk seperti contoh dibawah. Silahkan copy pada bagian yang saya garis bawahi
                        saja.
                        <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded text-sm">
                            <code>https://drive.google.com/file/d/<u>1sFiAnqkB6ef9T2P_pkmcEoem1CRzL_2X</u>/view?usp=sharing.</code>
                        </div>
                    </li>
                    <li>Gunakan tag berikut untuk membuat gambar di soal/atribut/jawaban. Silahkan ganti xxxxx
                        dengan ID yang dicopy dari poin 3.
                        <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded text-sm">
                            <code>&lt;img src="https://drive.google.com/uc?export=view&id=<u>xxxxx</u>" alt=""
                                /&gt;</code>
                        </div>
                    </li>
                    <li>Secara otomatis gambar akan menyesuaikan ukuran layar atau ukuran gambar. Untuk mengatur lebar
                        setelah tulisan &lt;img beri tulisan dibawah ini. Silahkan ganti X dengan angka.
                        <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded text-sm">
                            <code>class="w-X"</code>
                        </div>
                    </li>
                    <li>Untuk membuat gambar di tengah, tidak bisa seperti membuat rata tengah tulisan. Tambahkan
                        <span class="p-1 bg-gray-300 dark:bg-gray-900 rounded"><code>mx-auto</code></span> pada class di
                        img.
                    </li>
                </ol>
            </template>

            <template #footer>
                <jet-button @click.native="closeImageModal">
                    Oke Paham
                </jet-button>
            </template>
        </jet-dialog-modal>

    </app-layout>
</template>

<script>
import {
    faPlus,
    faGhost,
    faPencilAlt,
    faTrashAlt,
    faCubes,
    faInfoCircle,
    faCheckCircle,
    faTimesCircle,
    faTimes,
    faCheck,
    faSave,
    faSort,
    faSquareRootAlt,
    faQuoteRight,
    faImages,
} from '@fortawesome/free-solid-svg-icons';
import draggable from 'vuedraggable';
import AppLayout from "@/Layouts/AppLayout";
import TitleCard from "@/Components/Cards/TitleCard";
import AddNewButton from "@/Components/Button/AddNewButton";
import ExpandedButton from "@/Components/Button/ExpandedButton";
import BasicCard from "@/Components/Cards/BasicCard";
import CardButton from "@/Components/Button/CardButton";
import ExpandableCard from "@/Components/Cards/ExpandableCard";
import JetButton from "@/Jetstream/Button";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetTextarea from "@/Components/Forms/JetTextarea";
import JetDangerButton from "@/Jetstream/DangerButton";
import JetDialogModal from "@/Jetstream/DialogModal";
import NotificationCard from "@/Components/Cards/NotificationCard";
import IconButton from "@/Components/Button/IconButton";
import DisplayCount from "@/Components/Cards/DisplayCount";
import IconDangerButton from "@/Components/Button/IconDangerButton";
import DangerButton from "@/Jetstream/DangerButton";
import {VueMathjax} from 'vue-mathjax';

export default {
    name: "QuestionEdit",
    title: (data) => `${data.test.name} - Ruang Panitia: Edit Soal`,
    components: {
        VueMathjax,
        DangerButton,
        IconDangerButton,
        DisplayCount,
        IconButton,
        NotificationCard,
        JetTextarea,
        JetInput,
        JetLabel,
        JetButton,
        JetDialogModal,
        JetDangerButton,
        ExpandableCard, CardButton, BasicCard, ExpandedButton, AddNewButton, TitleCard, AppLayout, draggable
    },
    props: [
        'test', 'code', 'package_id'
    ],
    data() {
        return {
            drag: false,
            iconAdd: faPlus,
            iconEmpty: faGhost,
            iconEdit: faPencilAlt,
            iconDelete: faTrashAlt,
            iconCount: faCubes,
            iconInfo: faInfoCircle,
            iconSave: faSave,
            iconCorrect: faCheck,
            iconFalse: faTimesCircle,
            iconSort: faSort,
            iconMath: faSquareRootAlt,
            iconHelp: faQuoteRight,
            iconImage: faImages,
            iconClose: faTimes,
            helpModalControl: false,
            imageModalControl: false,
            mathModalControl: false,
            onDisplay: {
                source: '',
                type: null,
                content: {},
                index: 0,
            },
            messageModal: {
                title: '',
                message: '',
                control: false,
            }
        }
    },
    computed: {
        dragAttribute() {
            return {
                animation: 200,
                group: "attribute",
                disabled: false,
                ghostClass: "ghost"
            };
        },
        dragQuestion() {
            return {
                animation: 200,
                group: "question",
                disabled: false,
                ghostClass: "ghost"
            };
        },

    },
    methods: {
        makeId(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        },
        closePanel() {
            this.onDisplay = {
                source: '',
                type: null,
                content: {},
                index: 0,
            };
        },
        openMathModal() {
            this.mathModalControl = true;
        },
        closeMathModal() {
            this.mathModalControl = false;
        },
        openImageModal() {
            this.imageModalControl = true;
        },
        closeImageModal() {
            this.imageModalControl = false;
        },
        dragStarted() {
            this.drag = true;
        },
        dragFinished(where) {
            this.drag = false;
            switch (where) {
                case 'question':
                    this.$inertia.post(this.route('host.question.reorder'), this.test);
                    break;
                case 'attribute':
                    this.$inertia.post(this.route('host.attribute.reorder'), this.test);
                    break;
            }
        },
        openHelpModal() {
            this.helpModalControl = true;
        },
        closeHelpModal() {
            this.helpModalControl = false;
        },
        closeMessageModal() {
            this.messageModal.control = false;
        },
        setOnDisplay(type, index) {
            this.onDisplay.type = type;
            this.onDisplay.source = 'edit';
            switch (type) {
                case 'attribute':
                    this.onDisplay.content = this.test.question_attribute[index];
                    break;
                case 'question':
                    this.onDisplay.content = this.test.question[index];
                    break;
            }
        },
        newAttribute() {
            let id = (this.test.question_attribute.length == 0) ? 1 : this.test.question_attribute[this.test.question_attribute.length - 1].id + 1;
            this.onDisplay.type = "attribute";
            this.onDisplay.source = 'new';
            this.onDisplay.content = {
                code: this.makeId(8),
                order: this.test.question_attribute.length + 1,
                attribute: "",
                command: `Atribut ${this.test.question_attribute.length + 1}`,
                question_group_id: this.package_id,
            }
        },
        newQuestion() {
            let id = (this.test.question.length == 0) ? 1 : this.test.question[this.test.question.length - 1].id + 1;
            this.onDisplay.type = "question";
            this.onDisplay.source = 'new';
            this.onDisplay.content = {
                code: this.makeId(8),
                number: this.test.question.length + 1,
                question: `Soal ${this.test.question.length + 1}`,
                score: 0,
                question_attribute_id: null,
                question_group_id: this.package_id,
                answer_option: [],
            };
        },
        newAnswerOptions() {
            let id = (this.onDisplay.content.answer_option.length == 0) ? 1 : this.onDisplay.content.answer_option[this.onDisplay.content.answer_option.length - 1].id + 1;
            let now = new Date();
            this.onDisplay.content.answer_option.push({
                id: id,
                code: this.makeId(8),
                order: id,
                answer: "",
                is_correct: 0,
                is_new: true,
            });
        },
        deleteItem(id, type) {
            if (type == "question") {
                this.$inertia.delete(this.route('host.question.delete', id), {
                    onSuccess: () => {
                        this.messageModal.title = 'Pertanyaan Berhasil Dihapus!';
                        this.messageModal.message = 'Semangat uwu!'
                        this.messageModal.control = true;
                    }
                })
            } else if (type == "attribute") {
                this.$inertia.delete(this.route('host.attribute.delete', id), {
                    onSuccess: () => {
                        this.messageModal.title = 'Atribut Berhasil Dihapus!';
                        this.messageModal.message = 'Semangat uwu!'
                        this.messageModal.control = true;
                    }
                })
            }
        },
        deleteAnswerOption(index) {
            if (this.onDisplay.source == 'edit' && !this.onDisplay.content.answer_option[index].is_new) {
                let id = this.onDisplay.content.answer_option[index].id;
                this.$inertia.delete(this.route('host.answer.delete', id));
            }
            this.onDisplay.content.answer_option.splice(index, 1);
        },
        sendData(e) {
            e.preventDefault();
            switch (this.onDisplay.type) {
                case 'question':
                    if (this.onDisplay.source = "new") {
                        for (let i = 0; i < this.onDisplay.content.answer_option.length; i++) {
                            this.onDisplay.content.answer_option[i].is_new = false;
                        }
                    }
                    this.$inertia.post(this.route('host.question.new'), this.onDisplay.content, {
                        onSuccess: () => {
                            this.messageModal.title = 'Pertanyaan Berhasil Disimpan!';
                            this.messageModal.message = 'Semangat uwu! Masih banyak kan ya :D'
                            this.messageModal.control = true;
                            this.onDisplay.type = null;
                        }
                    });
                    break;
                case 'attribute':
                    this.$inertia.post(this.route('host.attribute.new'), this.onDisplay.content, {
                        onSuccess: () => {
                            this.messageModal.title = 'Atribut Pertanyaan Berhasil Disimpan!';
                            this.messageModal.message = 'Semangat uwu! Masih banyak kan ya :D'
                            this.messageModal.control = true;
                            this.onDisplay.type = null;
                        }
                    });
                    break;
            }
        },
        setNoAttribute() {
            this.onDisplay.content.question_attribute_id = null
        },
        switchAnswerCorrectness(index) {
            for (let i = 0; i < this.onDisplay.content.answer_option.length; i++) {
                if (index == i) {
                    this.onDisplay.content.answer_option[i].is_correct = (this.onDisplay.content.answer_option[i].is_correct == 0) ? 1 : 0
                } else {
                    this.onDisplay.content.answer_option[i].is_correct = 0;
                }
            }
        },
        shortenTitle(content) {
            if (content.length > 20) {
                return content.substr(0, 20) + "...";
            } else {
                return content;
            }
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        countChar(source, limit) {
            if (limit - source.length > 0) {
                return `${limit - source.length} Karakter Tersisa`
            } else if (limit - source.length == 0) {
                return `Batas karakter tercapai!`
            } else {
                return `Kelebihan ${(limit - source.length) * -1} Karakter`
            }
        },
        reRender() {
            if (window.MathJax) {
                window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);
            }
        }
    },
    mounted() {
        // this.reRender();
        // MathJax.typeset();
    },
    watch: {
        // latex: function () {
        //     this.$nextTick().then(() => {
        //         this.reRender();
        //     });
        // }
    }
}
</script>

<style scoped>
.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 0.5;
}

.All {
    display: table-row;
}

.Sum {
    display: table-cell;
    vertical-align: middle;
}

.Fraction {
    display: table-cell;
    text-align: center;
}

.Denominator {
    border-top: 1px solid #000;
    display: block;
}

.Fraction, .Numerator, .Denominator {
    padding: 0px 5px;
}
</style>
