<template>
    <app-layout>
        <template #header>
            Manajemen Ujian
        </template>

        <title-card>
            <template #title>
                <p class="m-0">{{ test.name }}</p>
                <p class="text-sm mb-1">(Kode Ujian: {{ test.code }})</p>
            </template>

            <table class="table w-full text-sm">
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Deskripsi Ujian</td>
                    <td class="text-right">{{ test.description }}</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Durasi Pengerjaan</td>
                    <td class="text-right">{{ getDuration(test.start, test.end) }}</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Waktu Mulai</td>
                    <td class="text-right">{{ translateDate(test.start, true) }}</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Waktu Berakhir</td>
                    <td class="text-right">{{ translateDate(test.end, true) }}</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Para Perumus Soal</td>
                    <td class="text-right">{{ test.researcher }}</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Ujian Dibuat Oleh</td>
                    <td class="text-right">
                        <p>{{ test.user_created_by.name }}</p>
                        <p class="italic text-xs">{{ translateDate(test.created_at, true) }}</p>
                    </td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Terakhir Dirubah Oleh</td>
                    <td class="text-right">
                        <p>{{ test.user_updated_by.name }}</p>
                        <p class="italic text-xs">{{ translateDate(test.updated_at, true) }}</p>
                    </td>
                </tr>
            </table>

            <div class="flex flex-row flex-wrap gap-2 w-full justify-center mt-2">
                <jet-button @click.native="toggleTestAvailability">
                    <font-awesome-icon :icon="iconOff" class="mr-1"></font-awesome-icon>
                    <span v-if="test.is_open == 1">Sedang Aktif</span><span v-else>Nonaktif</span>
                </jet-button>
                <jet-button @click.native="openModalMetadata">
                    <font-awesome-icon :icon="iconEdit" class="mr-1"></font-awesome-icon>
                    Edit Metadata
                </jet-button>
                <inertia-button :href="route('host.room.participant', test.code)" color="bg-blue-500 hover:bg-blue-300">
                    <font-awesome-icon :icon="iconParticipant" class="mr-1"></font-awesome-icon>
                    Peserta Pendaftar
                </inertia-button>
                <inertia-button :href="route('host.room.analyze', test.code)" color="bg-blue-500 hover:bg-blue-300">
                    <font-awesome-icon :icon="iconData" class="mr-1"></font-awesome-icon>
                    Analisa Ujian
                </inertia-button>
                <inertia-button :href="route('host.room.feedback', test.code)" color="bg-blue-500 hover:bg-blue-300">
                    <font-awesome-icon :icon="iconFeedback" class="mr-1"></font-awesome-icon>
                    Feedback Peserta
                </inertia-button>
                <jet-danger-button @click.native="openDeleteModal('test')">
                    <font-awesome-icon :icon="iconDelete" class="mr-1"></font-awesome-icon>
                    Hapus
                </jet-danger-button>
            </div>
        </title-card>

        <div class="grid lg:grid-cols-2 sm:grid-cols-1">
            <title-card>
                <template #title>
                    <div class="flex flex-row justify-between items-center">
                        <p class="m-0">Pemilik Hak Akses Edit</p>
                        <div class="flex flex-row">
                            <display-count class="mr-1" @click.stop :icon="iconPerson">{{
                                    test.user_right.length
                                }}
                            </display-count>
                            <icon-button @click.native.stop="openAddModal('right')"></icon-button>
                        </div>
                    </div>
                </template>

                <card-button v-for="user in test.user_right" v-bind:key="user.id">
                    <template #title>
                        <div class="flex flex-row items-center justify-between w-full">
                            <div class="overflow-ellipsis">
                                {{ user.user.name }}
                            </div>
                            <div v-if="user.user.id != test.created_by">
                                <icon-danger-button
                                    @click.native="openDeleteModal('right', user.id)"></icon-danger-button>
                            </div>
                        </div>
                    </template>
                    <p v-if="user.user.id == test.created_by">Yang Membuat Ujian</p>
                    <p v-else>Diberi akses oleh <span class="font-bold text-green-500">{{ user.granted_by.name }}</span>
                        pada {{ translateDate(user.created_at, true) }}</p>
                </card-button>
            </title-card>

            <title-card>
                <template #title>
                    <div class="flex flex-row justify-between items-center">
                        <p class="m-0">Paket Ujian</p>
                        <div class="flex flex-row">
                            <display-count class="mr-1" @click.stop>{{ test.question_group.length }}</display-count>
                            <icon-button @click.native.stop="openAddModal('pack')"
                                         :disabled="test.is_open == 1"></icon-button>
                        </div>
                    </div>
                </template>

                <notification-card v-if="test.is_open == 1">
                    Ujian sedang dibuka, oleh karena itu kami menutup akses sementara untuk edit paket ujian agar tidak
                    terjadi perbedaan soal yang diakses oleh peserta.
                </notification-card>

                <notification-card v-if="test.question_group.length == 0" :icon="iconEmpty">
                    Daftar kosong. <span v-if="test.is_open == 1">Silahkan nonaktifkan ujian terlebih dahulu untuk menambah atau melakukan perubahan tentang paket ujian.</span><span
                    v-else>Silahkan klik tombol tambah hijau di kanan atas dekat tulisan ini untuk menambah paket ujian baru.</span>
                </notification-card>

                <div class="grid grid-cols-1 gap-2">
                    <card-button v-for="(pack, index) in test.question_group" v-bind:key="pack.id">
                        <template #title>
                            {{ pack.name }}
                        </template>

                        <table class="w-full">
                            <tr>
                                <td class="font-extrabold">Dibuat Oleh (Pada)</td>
                                <td class="text-right">
                                    <p>{{ pack.user_created_by.name }}</p>
                                    <p class="italic text-xs">{{ translateDate(pack.created_at, true) }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-extrabold">Terakhir Diupdate Oleh (Pada)</td>
                                <td class="text-right">
                                    <p>{{ pack.user_updated_by.name }}</p>
                                    <p class="italic text-xs">{{ translateDate(pack.updated_at, true) }}</p>
                                </td>
                            </tr>
                        </table>

                        <div class="flex flex-row flex-wrap gap-2 w-full justify-center mt-2">
                            <inertia-button :href="route('host.package.edit', {code: test.code, id: pack.id})"
                                            :disabled="test.is_open == 1">
                                <font-awesome-icon :icon="iconTest" fixed-width class="mr-1"></font-awesome-icon>
                                Masuk
                            </inertia-button>
                            <blue-button @click.native="openModalPackMetadata(pack.id, pack.name)"
                                         :disabled="test.is_open == 1" color="bg-blue-500 hover:bg-blue-300">
                                <font-awesome-icon :icon="iconEdit" fixed-width></font-awesome-icon>
                            </blue-button>
                            <blue-button @click.native="openCopyCutModal(index, 'Memindah')" :disabled="test.is_open == 1"
                                         color="bg-blue-500 hover:bg-blue-300">
                                <font-awesome-icon :icon="iconCut" fixed-width></font-awesome-icon>
                            </blue-button>
                            <blue-button @click.native="openCopyCutModal(index, 'Menyalin')" :disabled="test.is_open == 1"
                                         color="bg-blue-500 hover:bg-blue-300">
                                <font-awesome-icon :icon="iconCopy" fixed-width></font-awesome-icon>
                            </blue-button>
                            <jet-danger-button @click.native.stop="openDeleteModal('package', pack.id)"
                                               :disabled="test.is_open == 1">
                                <font-awesome-icon :icon="iconDelete" fixed-width></font-awesome-icon>
                            </jet-danger-button>
                        </div>
                    </card-button>
                </div>

            </title-card>
        </div>

        <jet-dialog-modal :show="modalConfirmDelete.status" @close="closeDeleteModal">
            <template #title>
                {{ modalConfirmDelete.title }}
            </template>

            <template #content>
                {{ modalConfirmDelete.message }}
            </template>

            <template #footer>
                <jet-secondary-button @click.native="closeDeleteModal">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-danger-button class="ml-2" @click.native="doDelete">
                    Iya Saya Yakin
                </jet-danger-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalCopyCut" @close="closeCopyCutModal">
            <template #title>
                {{ formCopyCut.type }} Paket Soal
            </template>

            <template #content>
                <form @submit.prevent="submitCopyCut" id="copyCut">
                    <div class="mb-1">
                        <jet-label for="target" value="Ujian Tujuan"/>
                        <t-select id="target" :options="tests" v-model="formCopyCut.test_id" required
                                  placeholder="Pilih tujuannya..." class="w-full"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="nameCopy" value="Judul Baru Ujian"/>
                        <jet-input id="nameCopy" type="text" class="mt-1 block w-full" v-model="formCopyCut.name"
                                   required
                                   autocomplete="current-name"/>
                    </div>
                </form>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="closeCopyCutModal">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-button class="ml-2" type="submit" form="copyCut">
                    Lakukan :)
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalPackMetadata" @close="closeModalPackMetadata">
            <template #title>
                Edit Metadata Paket
            </template>

            <template #content>
                <form @submit.prevent="packMetadataForm" id="packMetadata">
                    <div class="mb-1">
                        <jet-label for="name" value="Judul Paket"/>
                        <jet-input id="name" type="text" class="mt-1 block w-full" v-model="packMetadata.name" required
                                   autocomplete="current-name"/>
                    </div>
                </form>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="closeModalPackMetadata">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-button class="ml-2" type="submit" form="packMetadata">
                    Perbarui Data!
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalConfirmDelete.status" @close="closeDeleteModal">
            <template #title>
                {{ modalConfirmDelete.title }}
            </template>

            <template #content>
                {{ modalConfirmDelete.message }}
            </template>

            <template #footer>
                <jet-secondary-button @click.native="closeDeleteModal">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-danger-button class="ml-2" @click.native="doDelete">
                    Iya Saya Yakin
                </jet-danger-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalMetadata" @close="closeModalMetadata">
            <template #title>
                Edit Metadata Ujian
            </template>

            <template #content>
                <form @submit.prevent="metadataForm" id="metadata">
                    <div class="mb-1">
                        <jet-label for="name" value="Judul Ujian"/>
                        <jet-input id="name" type="text" class="mt-1 block w-full" v-model="metadata.name" required
                                   autocomplete="current-name"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="description" value="Deskripsi Ujian"/>
                        <jet-textarea id="description" class="mt-1 block w-full" v-model="metadata.description" required
                                      autocomplete="current-desc"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="research" value="Dibuat Oleh"/>
                        <jet-input id="research" type="text" class="mt-1 block w-full" v-model="metadata.researcher"
                                   required autocomplete="current-research"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="start"
                                   value="Waktu Mulai (Tulis dalam format berikut: 'YYYYY-MM-DD HH:MM:SS')"/>
                        <jet-input id="start" type="text" class="mt-1 block w-full" v-model="metadata.start" required
                                   autocomplete="current-start"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="end"
                                   value="Waktu Berakhir (Tulis dalam format berikut: 'YYYYY-MM-DD HH:MM:SS')"/>
                        <jet-input id="end" type="text" class="mt-1 block w-full" v-model="metadata.end" required
                                   autocomplete="current-end"/>
                    </div>
                </form>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="closeModalMetadata">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-button class="ml-2" type="submit" form="metadata">
                    Perbarui Data!
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalSuccess.status" @close="toggleModalSuccess">
            <template #title>
                {{ modalSuccess.title }}
            </template>

            <template #content>
                {{ modalSuccess.message }}
            </template>

            <template #footer>
                <jet-button @click.native="toggleModalSuccess">
                    Oke Mantap
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="modalAdd.status" @close="closeAddModal">
            <template #title>
                {{ modalAdd.title }}
            </template>

            <template #content>
                <form @submit.prevent="submitFormAdd" id="addForm">
                    <template v-if="modalAdd.type == 'right'">
                        <jet-label for="user" value="Siapa yang Akan Diberikan Hak?"/>
                        <t-rich-select id="user" :options="users" value-attribute="id" text-attribute="name"
                                       v-model="modalAdd.modalData.user_id"></t-rich-select>
                    </template>

                    <template v-else-if="modalAdd.type == 'pack'">
                        <jet-label for="testName" value="Nama Paket Ujian"/>
                        <jet-input id="testName" type="text" class="mt-1 block w-full" v-model="modalAdd.modalData.name"
                                   required autofocus autocomplete="name"/>
                    </template>
                </form>
            </template>

            <template #footer>
                <jet-button type="submit" form="addForm" @click.native="submitFormAdd">
                    Tambahkan
                </jet-button>
            </template>
        </jet-dialog-modal>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import ExpandedButton from "@/Components/Button/ExpandedButton";
import TitleCard from "@/Components/Cards/TitleCard";
import BasicCard from "@/Components/Cards/BasicCard";
import JetInput from '@/Jetstream/Input'
import JetLabel from '@/Jetstream/Label'
import {
    faPowerOff,
    faTrashAlt,
    faCubes,
    faPlus,
    faUserAlt,
    faUsers,
    faExclamationTriangle,
    faComments,
    faChartArea,
    faGhost,
    faPencilAlt,
    faListOl,
    faTruck,
    faCopy,
} from '@fortawesome/free-solid-svg-icons';
import AddNewButton from "@/Components/Button/AddNewButton";
import TestHeader from "@/Components/TestHeader";
import JetTextarea from "@/Components/Forms/JetTextarea";
import JetButton from "@/Jetstream/Button";
import JetDangerButton from "@/Jetstream/DangerButton";
import JetDialogModal from "@/Jetstream/DialogModal";
import JetSecondaryButton from '@/Jetstream/SecondaryButton'
import CardButton from "@/Components/Button/CardButton";
import IconButton from "@/Components/Button/IconButton";
import DisplayCount from "@/Components/Cards/DisplayCount";
import IconDangerButton from "@/Components/Button/IconDangerButton";
import NotificationCard from "@/Components/Cards/NotificationCard";
import BlueButton from "@/Components/Button/BlueButton";
import InertiaButton from "@/Components/Button/InertiaButton";
import JetSelect from "@/Components/Forms/JetSelect";

export default {
    name: "RoomEdit",
    title: (data) => `${data.test.name} - Ruang Panitia: Manajemen Ujian`,
    components: {
        JetSelect,
        InertiaButton,
        BlueButton,
        NotificationCard,
        IconDangerButton,
        DisplayCount,
        IconButton,
        CardButton,
        JetSecondaryButton,
        JetDialogModal,
        JetDangerButton,
        JetButton,
        JetTextarea,
        JetInput, JetLabel, TestHeader, AddNewButton, BasicCard, TitleCard, ExpandedButton, AppLayout
    },
    props: ['test', 'users', 'tests'],
    data() {
        return {
            iconEdit: faPencilAlt,
            iconOff: faPowerOff,
            iconDelete: faTrashAlt,
            iconAdd: faPlus,
            iconCount: faCubes,
            iconPerson: faUserAlt,
            iconParticipant: faUsers,
            iconWarning: faExclamationTriangle,
            iconFeedback: faComments,
            iconData: faChartArea,
            iconEmpty: faGhost,
            iconTest: faListOl,
            iconCut: faTruck,
            iconCopy: faCopy,
            modalAdd: {
                status: false,
                title: '',
                type: '',
                modalData: {},
            },
            modalConfirmDelete: {
                status: false,
                title: '',
                message: '',
                type: '',
                selectedId: 0,
            },
            modalSuccess: {
                status: false,
                title: '',
                message: '',
            },
            modalMetadata: false,
            modalPackMetadata: false,
            modalCopyCut: false,
            metadata: this.$inertia.form({
                name: '',
                description: '',
                researcher: '',
                start: '',
                end: '',
            }),
            packMetadata: this.$inertia.form({
                name: '',
            }),
            formAddPerson: this.$inertia.form({
                who: 0,
            }),
            formAddPackage: this.$inertia.form({
                id: '',
                name: '',
            }),
            formCopyCut: this.$inertia.form({
                test_id: 0,
                pack_id: 0,
                name: '',
                type: '',
            })
        }
    },
    methods: {
        openCopyCutModal(i, type) {
            this.formCopyCut.pack_id = this.test.question_group[i].id;
            ;
            this.formCopyCut.type = type;
            this.formCopyCut.name = this.test.question_group[i].name;
            this.modalCopyCut = true;
        },
        closeCopyCutModal() {
            this.modalCopyCut = false;
        },
        submitCopyCut(e) {
            e.preventDefault();
            if (this.formCopyCut.type === 'Memindah') {
                this.$inertia.post(this.route('host.package.cut'), this.formCopyCut, {
                    onSuccess: () => {
                        this.closeCopyCutModal();
                    }
                })
            } else if (this.formCopyCut.type === 'Menyalin') {
                this.$inertia.post(this.route('host.package.copy'), this.formCopyCut, {
                    onSuccess: () => {
                        this.closeCopyCutModal();
                    }
                })
            }
        },
        openModalPackMetadata(id, name) {
            this.packMetadata.id = id;
            this.packMetadata.name = name;
            this.modalPackMetadata = true;
        },
        closeModalPackMetadata() {
            this.modalPackMetadata = false;
        },
        packMetadataForm(e) {
            e.preventDefault();
            this.closeModalPackMetadata();
            this.$inertia.put(this.route('host.package.update', this.packMetadata.id), this.packMetadata, {
                onSuccess: () => {
                    this.modalSuccess.title = 'Yay Berhasil Dirubah!';
                    this.modalSuccess.message = 'Metadata paket ujian berhasil dirubah :)';
                    this.modalSuccess.status = true;
                }
            })
        },
        getDuration(startDate, endDate) {
            let start = new Date(startDate), end = new Date(endDate);
            let h = Math.trunc((end - start) / 1000 / 3600);
            let m = Math.trunc((end - start) / 1000 / 60) % 60;
            let s = Math.trunc((end - start) / 1000) % 60;

            let hours = h > 9 ? h : '0' + h;
            let minutes = m > 9 ? m : '0' + m;
            let seconds = s > 9 ? s : '0' + s;

            let str = "";
            if (hours != 0) {
                str += `${hours} Jam`;
            }
            if (minutes != 0) {
                str += ` ${minutes} Menit`;
            }
            if (seconds != 0) {
                str += ` ${seconds} Detik`;
            }

            return str;
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        metadataForm(e) {
            e.preventDefault();
            this.closeModalMetadata();
            this.$inertia.put(this.route('host.room.update', this.test.id), this.metadata, {
                onSuccess: () => {
                    this.modalSuccess.title = 'Yay Berhasil Dirubah!';
                    this.modalSuccess.message = 'Metadata ujian berhasil dirubah :)';
                    this.modalSuccess.status = true;
                }
            })
        },
        toggleTestAvailability() {
            this.$inertia.put(this.route('host.room.availability', this.test.id), this.test, {
                onSuccess: () => {
                    this.modalSuccess.title = 'Yay Berhasil Dirubah!';
                    this.modalSuccess.message = (this.test.is_open == 1)
                        ? 'Ujian sekarang tersedia dan bisa dibuka oleh peserta!'
                        : 'Ujian sekarang tidak tersedia. Semua tidak bisa mengakses ruang ujian';
                    this.modalSuccess.status = true;
                }
            })
        },
        openModalMetadata() {
            this.modalMetadata = true;
        },
        closeModalMetadata() {
            this.modalMetadata = false;
        },
        openAddModal(what) {
            this.modalAdd.type = what;
            console.log(what);
            if (what == 'pack') {
                console.log(0)
                this.modalAdd.title = "Menambahkan Paket Ujian Baru";
                this.modalAdd.modalData = this.$inertia.form({
                    name: '',
                    test_id: this.test.id,
                });
            } else if (what == 'right') {
                console.log(1)
                this.modalAdd.title = "Memberikan Hak Akses ke Seseorang";
                this.modalAdd.modalData = this.$inertia.form({
                    user_id: null,
                    test_id: this.test.id,
                });
            }
            this.modalAdd.status = true;
        },
        closeAddModal() {
            this.modalAdd.status = false;
        },
        toggleModalSuccess() {
            this.modalSuccess.status = !this.modalSuccess.status;
        },
        openDeleteModal(type, id = 0) {
            this.modalConfirmDelete.type = type;
            switch (type) {
                case 'test':
                    this.modalConfirmDelete.title = "Konfirmasi Menghapus Ujian";
                    this.modalConfirmDelete.message = "Apakah anda yakin untuk menghapus ujian ini? Semua paket dan soal yang sudah dimasukkan beserta riwayat pengerjaan peserta akan terhapus juga dan tidak bisa dikembalikan.";
                    break;
                case 'right':
                    this.modalConfirmDelete.selectedId = id;
                    this.modalConfirmDelete.title = "Konfirmasi Menghapus Hak Akses";
                    this.modalConfirmDelete.message = "Apakah anda yakin untuk menghapus hak akses dia? Setelah dihapus maka dia tidak bisa mengakses halaman edit ujian lagi.";
                    break;
                case 'package':
                    this.modalConfirmDelete.selectedId = id;
                    this.modalConfirmDelete.title = "Konfirmasi Menghapus Paket Ujian";
                    this.modalConfirmDelete.message = "Apakah anda yakin untuk menghapus paket ujian ini? Semua soal yang sudah dimasukkan untuk paket soal ini akan terhapus beserta semua riwayat pengerjaan peserta di paket ini juga dan tidak bisa dikembalikan.";
                    break;
            }
            this.modalConfirmDelete.status = true;
        },
        closeDeleteModal() {
            this.modalConfirmDelete.status = false;
        },
        doDelete() {
            this.closeDeleteModal();
            switch (this.modalConfirmDelete.type) {
                case 'test':
                    this.$inertia.delete(this.route('host.room.delete', this.test.id));
                    break;
                case 'right':
                    this.$inertia.delete(this.route('host.right.delete', this.modalConfirmDelete.selectedId), {
                        onSuccess: () => {
                            this.modalSuccess.title = 'Hak Akses Berhasil Dihapus!';
                            this.modalSuccess.message = 'Sekarang dia tidak bisa lagi membantu anda mengedit soal :(';
                            this.modalSuccess.status = true;
                        }
                    });
                    break;
                case 'package':
                    this.$inertia.delete(this.route('host.package.delete', this.modalConfirmDelete.selectedId), {
                        onSuccess: () => {
                            this.modalSuccess.title = 'Paket Ujian Berhasil Dihapus!';
                            this.modalSuccess.message = 'Semangat ngisi lagi kawan :(';
                            this.modalSuccess.status = true;
                        }
                    });
            }
        },
        submitFormAdd(e) {
            e.preventDefault();
            this.closeAddModal();
            switch (this.modalAdd.type) {
                case 'pack':
                    this.$inertia.post(this.route('host.package.new'), this.modalAdd.modalData, {
                        onSuccess: () => {
                            this.modalSuccess.title = 'Yay Berhasil Ditambahkan!';
                            this.modalSuccess.message = 'Paket Ujian baru berhasil ditambahkan :)';
                            this.modalSuccess.status = true;
                        }
                    });
                    break;
                case 'right':
                    this.$inertia.post(this.route('host.right.new'), this.modalAdd.modalData, {
                        onSuccess: () => {
                            this.modalSuccess.title = 'Yay Berhasil Ditambahkan!';
                            this.modalSuccess.message = 'Sekarang ada orang baru yang bisa membantu melakukan edit ujian ini :)';
                            this.modalSuccess.status = true;
                        }
                    });
                    break;
            }
        }
    },
    created() {
        this.metadata.name = this.test.name;
        this.metadata.description = this.test.description;
        this.metadata.researcher = this.test.researcher;
        this.metadata.start = this.test.start;
        this.metadata.end = this.test.end;
    }
}
</script>

<style scoped>

</style>
