<template>
    <app-layout>
        <template #header>
            Ruangan Ujian Saya
        </template>

        <jet-button class="mt-3 mx-3" @click.native="toggleModal">
            <font-awesome-icon :icon="iconAdd" class="mr-1"></font-awesome-icon>
            <span>Buat Ujian Baru</span>
        </jet-button>

        <div class="m-2 grid sm:grid-cols-1 lg:grid-cols-4">
            <basic-card v-for="t in tests" v-bind:key="t.id">
                <template #title>{{ t.name }}</template>
                <table class="w-full border-t border-gray-200">
                    <tr class="border-b border-gray-200 border-opacity-50">
                        <td class="font-extrabold text-green-500">Kode Ujian</td>
                        <td class="text-right">
                            {{ t.code }}
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 border-opacity-50">
                        <td class="font-extrabold text-green-500">Dibuat oleh</td>
                        <td class="text-right">
                            <p class="m-0">{{ t.user_created_by.name }}</p>
                            <p class="m-0 text-xs italic">{{ translateDate(t.created_at, true) }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-extrabold text-green-500">Terakhir dirubah</td>
                        <td class="text-right">
                            <p class="m-0">{{ t.user_updated_by.name }}</p>
                            <p class="m-0 text-xs italic">{{ translateDate(t.updated_at, true) }}</p>
                        </td>
                    </tr>
                </table>

                <div class="flex flex-row flex-wrap mt-1 justify-between">
                    <inertia-button :href="route('host.room.edit', t.code)">
                        <font-awesome-icon :icon="iconEdit" class="mr-1"></font-awesome-icon>
                        Edit
                    </inertia-button>
                    <danger-button @click.native="openDeleteModal(t.id)">
                        <font-awesome-icon :icon="iconDelete" class="mr-1"></font-awesome-icon>
                        Hapus
                    </danger-button>
                </div>
            </basic-card>
        </div>

        <jet-dialog-modal :show="modalControl" @close="toggleModal">
            <template #title>
                Tambah Ujian Baru
            </template>

            <template #content>
                <form @submit="addNewTest" id="addnew">
                    <div class="mb-1">
                        <jet-label for="name" value="Judul Ujian"/>
                        <jet-input id="name" type="text" class="mt-1 block w-full" v-model="formData.name" required
                                   autocomplete="current-name"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="description" value="Deskripsi Ujian"/>
                        <jet-textarea id="description" class="mt-1 block w-full" v-model="formData.description" required
                                      autocomplete="current-desc"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="research" value="Dibuat Oleh"/>
                        <jet-input id="research" type="text" class="mt-1 block w-full" v-model="formData.researcher"
                                   required autocomplete="current-research"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="start"
                                   value="Waktu Mulai (Tulis dalam format berikut: 'YYYYY-MM-DD HH:MM:SS')"/>
                        <jet-input id="start" type="text" class="mt-1 block w-full" v-model="formData.start" required
                                   autocomplete="current-start"/>
                    </div>

                    <div class="mb-1">
                        <jet-label for="end"
                                   value="Waktu Berakhir (Tulis dalam format berikut: 'YYYYY-MM-DD HH:MM:SS')"/>
                        <jet-input id="end" type="text" class="mt-1 block w-full" v-model="formData.end" required
                                   autocomplete="current-end"/>
                    </div>
                </form>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="toggleModal">
                    Tidak Jadi
                </jet-secondary-button>
                <jet-button class="ml-2" type="submit" @click.native="addNewTest" form="addnew">
                    Tambahkan
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="deleteModal" @close="closeDeleteModal">
            <template #title>
                Konfirmasi Menghapus Ujian
            </template>

            <template #content>
                Yang akan terjadi ketika anda menghapus ujian:
                <ul class="list-disc ml-4">
                    <li>Semua pertanyaan, opsi jawaban, dan atribut akan dihapus.</li>
                    <li>Semua riwayat peserta yang pernah mengerjakan ujian di paket manapun di dalam ujian ini juga akan dihapus.</li>
                </ul>
                Apakah anda yakin untuk menghapus ujian ini?
            </template>

            <template #footer>
                <secondary-button @click.native="closeDeleteModal">
                    Tidak Jadi
                </secondary-button>
                <danger-button @click.native="doDelete" class="ml-1">
                    Iya Saya Yakin
                </danger-button>
            </template>
        </jet-dialog-modal>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import BasicCard from "@/Components/Cards/BasicCard";
import JetInput from '@/Jetstream/Input'
import JetLabel from '@/Jetstream/Label';
import {
    faFolderPlus,
    faPencilAlt,
    faTrash
} from '@fortawesome/free-solid-svg-icons';
import AddNewButton from "@/Components/Button/AddNewButton";
import JetTextarea from "@/Components/Forms/JetTextarea";
import ExpandedButton from "@/Components/Button/ExpandedButton";
import JetDialogModal from "@/Jetstream/DialogModal";
import JetSecondaryButton from '@/Jetstream/SecondaryButton';
import JetButton from "@/Jetstream/Button";
import InertiaButton from "@/Components/Button/InertiaButton";
import SecondaryButton from "@/Jetstream/SecondaryButton";
import DangerButton from "@/Jetstream/DangerButton";
import InertiaDangerButton from "@/Components/Button/InertiaDangerButton";
import IconButton from "@/Components/Button/IconButton";
import Button from "@/Jetstream/Button";

export default {
    name: "RoomList",
    title: 'Ruang Ujian',
    components: {
        Button,
        IconButton,
        InertiaDangerButton,
        DangerButton,
        SecondaryButton,
        InertiaButton,
        ExpandedButton,
        JetTextarea,
        AddNewButton,
        BasicCard,
        AppLayout,
        JetLabel,
        JetInput,
        JetDialogModal,
        JetSecondaryButton,
        JetButton
    },
    props: ['tests'],
    data() {
        return {
            iconAdd: faFolderPlus,
            iconEdit: faPencilAlt,
            iconDelete: faTrash,
            modalControl: false,
            deleteModal: false,
            deleteId: 0,
            formData: this.$inertia.form({
                name: '',
                description: '',
                start: '',
                end: '',
                researcher: ''
            })
        }
    },
    methods: {
        addNewTest(e) {
            e.preventDefault();
            this.$inertia.post(this.route('host.room.new'), this.formData, {
                onSuccess: () => {
                    this.formData.name = '';
                    this.formData.description = '';
                    this.formData.start = '';
                    this.formData.end = '';
                    this.formData.researcher = '';
                    this.modalControl = false;
                }
            });
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        openDeleteModal(id) {
            this.deleteId = id;
            this.deleteModal = true;
        },
        closeDeleteModal() {
            this.deleteModal = false;
        },
        toggleModal() {
            this.modalControl = !this.modalControl;
        },
        doDelete(){
            this.$inertia.delete(this.route('host.room.delete', this.deleteId), {
                onSuccess: () => {
                    this.closeDeleteModal();
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
