<template>
    <blank-layout>
        <danger-button @click.native="$inertia.get(route('host.room.edit', test.code))" class="mx-2">
            <font-awesome-icon :icon="iconBack" class="mr-1"></font-awesome-icon>
            Kembali
        </danger-button>
        <div class="bg-purple-800 text-white m-2 rounded-lg flex md:flex-row flex-col justify-between">
            <div class="p-2">
                <p class="text-xs">Feedback Peserta</p>
                <p class="font-extrabold text-xl">{{ test.name }}</p>
                <text-transition
                    :test-creator="test.researcher"
                    :test-start="translateDate(test.start, true)"
                    :test-end="translateDate(test.end, true)">
                </text-transition>
            </div>
        </div>

        <div class="grid md:grid-cols-4 sm:grid-cols-1">
            <div class="m-2">
                <expandable-card>
                    <template #title>
                        <div class="flex flex-row justify-between items-center">
                            <p class="m-0 text-base">Daftar Paket Soal</p>
                            <div class="flex flex-row">
                                <display-count @click.stop class="mr-1">
                                    {{ test.question_group.length }}
                                </display-count>
                            </div>
                        </div>
                    </template>

                    <card-button v-for="(pack, index) in test.question_group" v-bind:key="pack.id" @click.native="setOnDisplay(index)">
                        <template #title>
                            {{index}}. {{ pack.name }}
                        </template>

                        <p>
                            Persentase Pengisi/Peserta = {{ (pack.user_feedback.length / pack.user_question_session.length * 100).toFixed(2) }}% ({{pack.user_feedback.length}}/{{pack.user_question_session.length}})
                        </p>
                    </card-button>
                </expandable-card>
            </div>

            <div class="col-span-3">
                <div v-if="onDisplay.index === null" class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 p-2">
                    <div class="flex flex-col items-center text-center dark:text-white m-2 h-full">
                        <font-awesome-icon :icon="iconEmpty" size="6x"></font-awesome-icon>
                        Silahkan Pilih Apa yang Mau Dilihat dari Panel Kiri :)
                    </div>
                </div>

                <template v-else>
                    <title-card>
                        <template #title>
                            Tingkat Kesulitan Soal
                        </template>

                        <apex-chart class="mx-auto" type="pie" width="380" :options="chartOptions" :series="onDisplay.difficulty"></apex-chart>
                    </title-card>

                    <title-card>
                        <template #title>
                            Soal Tersulit
                        </template>

                        <table class="table-fixed w-full">
                            <tr v-for="ans in onDisplay.hardest" :key="ans" class="border-b border-gray-300 border-opacity-70">
                                <td>{{ans}}</td>
                            </tr>
                        </table>
                    </title-card>

                    <title-card>
                        <template #title>
                            Tanggapan Peserta Tentang Soal dan Sistem
                        </template>

                        <table class="table-fixed w-full">
                            <tr v-for="ans in onDisplay.feedback" :key="ans" class="border-b border-gray-300 border-opacity-70">
                                <td>{{ans}}</td>
                            </tr>
                        </table>
                    </title-card>

                    <title-card>
                        <template #title>
                            Kritik
                        </template>

                        <table class="table-fixed w-full">
                            <tr v-for="ans in onDisplay.critic" :key="ans" class="border-b border-gray-300 border-opacity-70">
                                <td>{{ans}}</td>
                            </tr>
                        </table>
                    </title-card>

                    <title-card>
                        <template #title>
                            Saran
                        </template>

                        <table class="table-fixed w-full">
                            <tr v-for="ans in onDisplay.suggestion" :key="ans" class="border-b border-gray-300 border-opacity-70">
                                <td>{{ans}}</td>
                            </tr>
                        </table>
                    </title-card>
                </template>
            </div>
        </div>
    </blank-layout>
</template>

<script>
import {
    faAngleDoubleLeft,
    faGhost,
} from '@fortawesome/free-solid-svg-icons';
import BlankLayout from "@/Layouts/BlankLayout";
import DangerButton from "@/Jetstream/DangerButton";
import TextTransition from "@/Components/TextTransition";
import ExpandableCard from "@/Components/Cards/ExpandableCard";
import CardButton from "@/Components/Button/CardButton";
import DisplayCount from "@/Components/Cards/DisplayCount";
import TitleCard from "@/Components/Cards/TitleCard";

export default {
    name: "Feedback",
    title: (data) => `${data.test.name} - Ruang Panitia: Hasil Feedback Peserta`,
    props: ['test'],
    data() {
        return {
            iconBack: faAngleDoubleLeft,
            iconEmpty: faGhost,
            onDisplay: {
                index: null,
                difficulty: [],
                hardest: [],
                feedback: [],
                critic: [],
                suggestion: [],
            },
            chartOptions: {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                dataLabels: {
                    formatter: (val, opts) => {
                        let total = this.series.reduce((a, b) => a+b, 0);
                        return `${val / 100 * total} (${val.toFixed(2)}%)`
                    },
                },
                labels: ['Terlalu Mudah', 'Sangat Mudah', 'Mudah', 'Sulit', 'Sangat Sulit', 'Terlalu Sulit'],
                colors: ['#60A5FA', '#10B981', '#FCD34D', '#D97706', '#EF4444', '#000000'],
                legend: {
                    position: 'bottom',
                    labels: {
                        colors: '#ffffff',
                    },
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 300
                        },
                    }
                }]
            },

        }
    },
    components: {TitleCard, DisplayCount, CardButton, ExpandableCard, TextTransition, DangerButton, BlankLayout},
    methods: {
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        setOnDisplay(index){
            this.onDisplay.index = index;
            this.onDisplay.critic = [];
            this.onDisplay.difficulty = [0, 0, 0, 0, 0, 0];
            this.onDisplay.hardest = [];
            this.onDisplay.suggestion = [];
            this.onDisplay.feedback = [];

            const data = this.test.question_group[index];
            for(let i=0; i<data.user_feedback.length; i++){
                this.onDisplay.hardest.push(data.user_feedback[index].hardest);
                this.onDisplay.feedback.push(data.user_feedback[index].feedback);
                this.onDisplay.critic.push(data.user_feedback[index].critic);
                this.onDisplay.suggestion.push(data.user_feedback[index].suggestion);
                switch(data.user_feedback[index].difficulty){
                    case 1:
                        this.onDisplay.difficulty[0]++;
                        break;
                    case 2:
                        this.onDisplay.difficulty[1]++;
                        break;
                    case 3:
                        this.onDisplay.difficulty[2]++;
                        break;
                    case 4:
                        this.onDisplay.difficulty[3]++;
                        break;
                    case 5:
                        this.onDisplay.difficulty[4]++;
                        break;
                    case 6:
                        this.onDisplay.difficulty[5]++;
                        break;
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
