<template>
    <blank-layout>
        <danger-button @click.native="$inertia.get(route('host.room.edit', test.code))" class="mx-2">
            <font-awesome-icon :icon="iconBack" class="mr-1"></font-awesome-icon>
            Kembali
        </danger-button>
        <div class="bg-purple-800 text-white m-2 rounded-lg flex md:flex-row flex-col justify-between">
            <div class="p-2">
                <p class="text-xs">Feedback Peserta</p>
                <p class="font-extrabold text-xl">{{ test.name }}</p>
                <text-transition
                    :test-creator="test.researcher"
                    :test-start="translateDate(test.start, true)"
                    :test-end="translateDate(test.end, true)">
                </text-transition>
            </div>
        </div>

        <div v-if="test.question_group.length === 0"
             class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 p-2">
            <div class="flex flex-col items-center text-center dark:text-white m-2 h-full">
                <font-awesome-icon :icon="iconEmpty" size="6x"></font-awesome-icon>
                Tidak ada paket soal hm :)
            </div>
        </div>

        <div class="flex flex-row overflow-y-auto min-h-full" v-else>
            <div class="w-80 flex-shrink-0 flex-grow-0" v-for="pack in test.question_group" :key="pack.id">
                <title-card>
                    <template #title>
                        {{ pack.name }}
                    </template>

                    <div class="flex flex-col items-center text-center dark:text-white m-2 h-full"
                         v-if="pack.user_question_session.length === 0">
                        <font-awesome-icon :icon="iconEmpty" size="6x"></font-awesome-icon>
                        Belum ada yang mengerjakan paket ini hm :")
                    </div>

                    <template v-else>
                        <card-button v-for="person in pack.user_question_session" :key="person.id">
                            <template #title>
                                {{ person.user.name }}
                            </template>

                            <p>Mulai: {{ translateDate(person.start_time, true) }}</p>
                            <p v-if="person.end_time !== null">Selesai: {{ translateDate(person.end_time, true) }}</p>
                            <p v-else>Belum selesai mengerjakan</p>
                        </card-button>
                    </template>
                </title-card>
            </div>
        </div>
    </blank-layout>
</template>

<script>
import {
    faAngleDoubleLeft,
    faGhost,
} from '@fortawesome/free-solid-svg-icons';
import BlankLayout from "@/Layouts/BlankLayout";
import DangerButton from "@/Jetstream/DangerButton";
import TextTransition from "@/Components/TextTransition";
import TitleCard from "@/Components/Cards/TitleCard";
import CardButton from "@/Components/Button/CardButton";

export default {
    name: "Participants",
    title: (data) => `${data.test.name} - Ruang Panitia: Keseluruhan Peserta Ujian`,
    components: {CardButton, TitleCard, TextTransition, DangerButton, BlankLayout},
    props: ['test'],
    data() {
        return {
            iconBack: faAngleDoubleLeft,
            iconEmpty: faGhost,
        }
    },
    methods: {
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
    },
}
</script>

<style scoped>

</style>
