<template>
    <blank-layout>
        <danger-button @click.native="$inertia.get(route('host.room.edit', test.code))" class="mx-2">
            <font-awesome-icon :icon="iconBack" class="mr-1"></font-awesome-icon>
            Kembali
        </danger-button>
        <div class="bg-purple-800 text-white m-2 rounded-lg flex md:flex-row flex-col justify-between">
            <div class="p-2">
                <p class="text-xs">Analisa Ujian</p>
                <p class="font-extrabold text-xl">{{ test.name }}</p>
                <text-transition
                    :test-creator="test.researcher"
                    :test-start="translateDate(test.start, true)"
                    :test-end="translateDate(test.end, true)">
                </text-transition>
            </div>
        </div>

        <title-card>
            <template #title>
                Semua Paket
            </template>

            <p class="text-xl font-extrabold text-green-500">Rata-Rata Jawaban Benar, Salah, Kosong dari Semua Paket</p>
            <apex-chart class="text-black" type="bar" height="350" :options="barChartOptions"
                        :series="allData"></apex-chart>

            <table class="table w-full text-sm">
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Jumlah Keseluruhan Peserta Ujian</td>
                    <td class="text-right">{{ summary.participants }} Orang</td>
                </tr>
                <tr class="border-gray-300 border-opacity-70 border-b">
                    <td class="font-extrabold text-left text-green-500">Peserta dengan Jawaban Benar Terbanyak</td>
                    <td class="text-right">
                        <jet-button @click.native="showTheBest()" v-if="hideTheBest">
                            <font-awesome-icon :icon="iconView" class="mr-1"/>Lihat
                        </jet-button>
                        <p v-else>{{ summary.correct.highestBy.name }} ({{summary.correct.highest}} Soal)</p>
                    </td>
                </tr>
<!--                <tr class="border-gray-300 border-opacity-70 border-b">-->
<!--                    <td class="font-extrabold text-left text-green-500">Durasi Pengerjaan Tersingkat</td>-->
<!--                    <td class="text-right">{{ translateDate(test.start, true) }}</td>-->
<!--                </tr>-->
<!--                <tr class="border-gray-300 border-opacity-70 border-b">-->
<!--                    <td class="font-extrabold text-left text-green-500">Durasi Pengerjaan Terlama</td>-->
<!--                    <td class="text-right">{{ translateDate(test.end, true) }}</td>-->
<!--                </tr>-->
                <tr>
                    <td class="font-extrabold text-left text-green-500">Para Perumus Soal</td>
                    <td class="text-right">{{ test.researcher }}</td>
                </tr>
            </table>

            <div class="flex flex-wrap flex-row justify-center">
                <jet-button @click.native="showLeaderboard(allLeaderboard)">
                    <font-awesome-icon :icon="iconRank" class="mr-1"/>Lihat Rangking Keseluruhan
                </jet-button>
            </div>
        </title-card>

        <div class="grid md:grid-cols-4 sm:grid-cols-1">
            <div class="m-2">
                <expandable-card>
                    <template #title>
                        <div class="flex flex-row justify-between items-center">
                            <p class="m-0 text-base">Daftar Paket Soal</p>
                            <div class="flex flex-row">
                                <display-count @click.stop class="mr-1">
                                    {{ packs.length }}
                                </display-count>
                            </div>
                        </div>
                    </template>

                    <div class="grid grid-cols-1 gap-2 p-1">
                        <card-button v-for="(pack, index) in packs" v-bind:key="pack.name" @click.native="setOnDisplay(index)">
                            <template #title>
                                {{index+1}}. {{ pack.name }}
                            </template>

                            <p>
                                Jumlah Peserta: {{pack.participants}} Orang
                            </p>
                        </card-button>
                    </div>
                </expandable-card>
            </div>

            <div class="col-span-3">
                <div v-if="onDisplay.content === null" class="bg-white dark:bg-gray-800 dark:text-white shadow-md rounded-lg m-2 p-2">
                    <div class="flex flex-col items-center text-center dark:text-white m-2 h-full">
                        <font-awesome-icon :icon="iconEmpty" size="6x"></font-awesome-icon>
                        Silahkan Pilih Apa yang Mau Dilihat dari Panel Kiri :)
                    </div>
                </div>

                <notification-card v-else-if="onDisplay.content === 'empty'">
                    Belum ada orang yang mengerjakan paket ini.
                </notification-card>

                <template v-else>
                    <title-card>
                        <template #title>
                            <div class="flex flex-row justify-between">
                                <p class="text-base">{{onDisplay.content.name}}</p>
                                <jet-button @click.native="showLeaderboard(onDisplay.content.userRank)">
                                    <font-awesome-icon :icon="iconRank" class="mr-1"/>Lihat Rangking
                                </jet-button>
                            </div>
                        </template>

                        <table class="table w-full text-sm">
                            <tr class="border-gray-300 border-opacity-70 border-b">
                                <td class="font-extrabold text-left text-green-500">Jumlah Peserta</td>
                                <td class="text-right text-lg font-extrabold">{{ onDisplay.content.participants }} Orang</td>
                            </tr>
                            <tr class="border-gray-300 border-opacity-70 border-b">
                                <td class="font-extrabold text-left text-green-500">Rata-Rata Peserta Menjawab Benar</td>
                                <td class="text-right">{{ onDisplay.content.correct.averageScore }}</td>
                            </tr>
                            <tr class="border-gray-300 border-opacity-70 border-b">
                                <td class="font-extrabold text-left text-green-500">Rata-Rata Peserta Menjawab Salah</td>
                                <td class="text-right">{{ onDisplay.content.wrong.averageScore }}</td>
                            </tr>
                            <tr class="border-gray-300 border-opacity-70 border-b">
                                <td class="font-extrabold text-left text-green-500">Rata-Rata Peserta Tidak Menjawab</td>
                                <td class="text-right">{{ onDisplay.content.empty.averageScore }}</td>
                            </tr>
                            <tr class="border-gray-300 border-opacity-70 border-b">
                                <td class="font-extrabold text-left text-green-500">Peserta dengan Jawaban Benar Terbanyak</td>
                                <td class="text-right">{{ onDisplay.content.correct.highestBy.name }} ({{ onDisplay.content.correct.highest }} Soal)</td>
                            </tr>
                        </table>

                        <div class="my-2">
                            <sub-card>
                                <template #title>
                                    <div class="flex flex-row justify-between items-center">
                                        <div>
                                            <p class="text-xs">Soal Tersulit</p>
                                            <p>No. {{onDisplay.content.hardest.question.number}}</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-center flex-wrap items-center text-sm">
                                            <div class="bg-green-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon> {{onDisplay.content.hardest.totalCorrect}}
                                            </div>
                                            <div class="bg-red-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon> {{onDisplay.content.hardest.totalWrong}}
                                            </div>
                                            <div class="bg-gray-500 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconSkip" fixed-width></font-awesome-icon> {{onDisplay.content.hardest.totalEmpty}}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <vue-mathjax :formula="onDisplay.content.hardest.question.question" :safe="false"></vue-mathjax>

                                <div class="mt-1 p-1 grid grid-cols-1 gap-2">
                                    <card-button v-for="ans in packs[onDisplay.pack].questions[onDisplay.content.hardest.question.number-1].answers" :key="ans.id">
                                        <div class="flex flex-row justify-between items-center">
                                            <vue-mathjax :formula="ans.answer.answer" :safe="false"></vue-mathjax>
                                            <display-count :icon="iconPick" :type="trueOrFalse(ans.answer.is_correct)">
                                                {{ ans.totalPick }} ({{ ans.pickRate }}%)
                                            </display-count>
                                        </div>
                                    </card-button>
                                </div>
                            </sub-card>
                        </div>

                        <div class="my-2">
                            <sub-card>
                                <template #title>
                                    <div class="flex flex-row justify-between items-center">
                                        <div>
                                            <p class="text-xs">Soal Termudah</p>
                                            <p>No. {{onDisplay.content.easiest.question.number}}</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-center flex-wrap items-center text-sm">
                                            <div class="bg-green-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon> {{onDisplay.content.easiest.totalCorrect}}
                                            </div>
                                            <div class="bg-red-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon> {{onDisplay.content.easiest.totalWrong}}
                                            </div>
                                            <div class="bg-gray-500 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconSkip" fixed-width></font-awesome-icon> {{onDisplay.content.easiest.totalEmpty}}
                                            </div>
                                        </div>
                                    </div>
                                </template>

                                <vue-mathjax :formula="onDisplay.content.easiest.question.question" :safe="false"></vue-mathjax>

                                <div class="mt-1 p-1 grid grid-cols-1 gap-2">
                                    <card-button v-for="ans in packs[onDisplay.pack].questions[onDisplay.content.easiest.question.number-1].answers" :key="ans.id">
                                        <div class="flex flex-row justify-between items-center">
                                            <vue-mathjax :formula="ans.answer.answer" :safe="false"></vue-mathjax>
                                            <display-count :icon="iconPick" :type="trueOrFalse(ans.answer.is_correct)">
                                                {{ ans.totalPick }} ({{ ans.pickRate }}%)
                                            </display-count>
                                        </div>
                                    </card-button>
                                </div>
                            </sub-card>
                        </div>

                        <div class="my-2">
                            <sub-card>
                                <template #title>
                                    <div class="flex flex-row justify-between items-center">
                                        <div>
                                            <p class="text-xs">Soal Paling Banyak Dilewati</p>
                                            <p>No. {{onDisplay.content.mostSkipped.question.number}}</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-center flex-wrap items-center text-sm">
                                            <div class="bg-green-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon> {{onDisplay.content.mostSkipped.totalCorrect}}
                                            </div>
                                            <div class="bg-red-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon> {{onDisplay.content.mostSkipped.totalWrong}}
                                            </div>
                                            <div class="bg-gray-500 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconSkip" fixed-width></font-awesome-icon> {{onDisplay.content.mostSkipped.totalEmpty}}
                                            </div>
                                        </div>
                                    </div>
                                </template>

                                <vue-mathjax :formula="onDisplay.content.mostSkipped.question.question" :safe="false"></vue-mathjax>

                                <div class="mt-1 p-1 grid grid-cols-1 gap-2">
                                    <card-button v-for="ans in packs[onDisplay.pack].questions[onDisplay.content.mostSkipped.question.number-1].answers" :key="ans.id">
                                        <div class="flex flex-row justify-between items-center">
                                            <vue-mathjax :formula="ans.answer.answer" :safe="false"></vue-mathjax>
                                            <display-count :icon="iconPick" :type="trueOrFalse(ans.answer.is_correct)">
                                                {{ ans.totalPick }} ({{ ans.pickRate }}%)
                                            </display-count>
                                        </div>
                                    </card-button>
                                </div>
                            </sub-card>
                        </div>

                        <p class="text-lg font-extrabold text-green-500">Analisa Per Soal</p>
                        <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-2">
                            <card-button v-for="q in onDisplay.content.questions" :key="q.number">
                                <template #title>
                                    <div class="flex flex-row items-center justify-between">
                                        <p>Soal No. {{q.number}}</p>
                                        <icon-button :icon="iconView" @click.native="openModal(q)"></icon-button>
                                    </div>
                                </template>

                                {{ shortenTitle(q.question.question) }}

                                <div class="flex flex-row gap-2 justify-center flex-wrap items-center text-sm mt-1">
                                    <div class="bg-green-600 p-1 rounded text-white font-bold">
                                        <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon> {{q.correct.total}} ({{q.correct.rate}}%)
                                    </div>
                                    <div class="bg-red-600 p-1 rounded text-white font-bold">
                                        <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon> {{q.wrong.total}} ({{q.wrong.rate}}%)
                                    </div>
                                    <div class="bg-gray-500 p-1 rounded text-white font-bold">
                                        <font-awesome-icon :icon="iconSkip" fixed-width></font-awesome-icon> {{q.empty.total}} ({{q.empty.rate}}%)
                                    </div>
                                </div>
                            </card-button>
                        </div>
                    </title-card>
                </template>
            </div>
        </div>

        <dialog-modal :show="modalData.control" @close="closeModal">
            <template #title>
                Soal Nomor {{modalData.content.number}}
            </template>

            <template #content>
                <vue-mathjax :formula="modalData.content.question.question" :safe="false"></vue-mathjax>

                <div class="mt-1 p-1 grid grid-cols-1 gap-2">
                    <card-button v-for="ans in modalData.content.answers" :key="ans.id">
                        <div class="flex flex-row justify-between items-center">
                            <vue-mathjax :formula="ans.answer.answer" :safe="false"></vue-mathjax>
                            <display-count :icon="iconPick" :type="trueOrFalse(ans.answer.is_correct)">
                                {{ ans.totalPick }} ({{ ans.pickRate }}%)
                            </display-count>
                        </div>
                    </card-button>
                </div>
            </template>

            <template #footer>
                <danger-button @click.native="closeModal">Tutup</danger-button>
            </template>
        </dialog-modal>

        <dialog-modal :show="leaderboardModal" @close="closeLeaderboard">
            <template #title>
                Ranking Peserta
            </template>

            <template #content>
                <div class="grid grid-cols-1 gap-2 w-full">
                    <div class="flex flex-row" v-for="(user,index) in leaderboard" :key="user.id">
                        <div>
                            <p class="bg-green-500 font-extrabold text-xl rounded-l-lg p-1 mt-2">
                                #{{index+1}}
                            </p>
                        </div>
                        <div class="w-full">
                            <card-button>
                                <template #title>
                                    <div class="flex flex-row items-center justify-between">
                                        <div>
                                            <p class="text-xs">{{user.pack}}</p>
                                            <p>{{user.session.user.name}}</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-center flex-wrap items-center text-sm mt-1">
                                            <div class="bg-green-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon> {{user.correct}}
                                            </div>
                                            <div class="bg-red-600 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon> {{user.wrong}}
                                            </div>
                                            <div class="bg-gray-500 p-1 rounded text-white font-bold">
                                                <font-awesome-icon :icon="iconSkip" fixed-width></font-awesome-icon> {{user.empty}}
                                            </div>
                                        </div>
                                    </div>
                                </template>

                                {{translateDate(user.session.start_time, true)}} s/d {{translateDate(user.session.end_time, true)}}

                                <div class="flex flex-wrap flex-row items-center gap-2">
                                    <jet-button @click.native="userWorkDetail(user.session)">
                                        <font-awesome-icon :icon="iconView" class="mr-1"></font-awesome-icon> Lihat Hasil
                                    </jet-button>
                                    <div class="bg-blue-600 p-1 rounded text-white font-bold">
                                        <font-awesome-icon :icon="iconClock" class="mr-1"></font-awesome-icon> {{getDuration(user.session.start_time, user.session.end_time)}}
                                    </div>
                                </div>

                            </card-button>
                        </div>
                    </div>
                </div>
            </template>

            <template #footer>
                <danger-button @click.native="closeLeaderboard">Tutup</danger-button>
            </template>
        </dialog-modal>

        <dialog-modal :show="userWorkModal.control" @close="closeUserWorkModal">
            <template #title>
                <div class="flex flex-row justify-between">
                    <div>
                        <p>Hasil Pengerjaan {{userWorkModal.content.user.name}}</p>
                        <p class="text-xs italic text-gray-400 font-normal">Apabila ada nomor yang terlewat, berarti peserta tersebut tidak memilih jawaban di soal dengan nomor yang hilang.</p>
                    </div>
                    <danger-button @click.native="closeUserWorkModal">
                        <font-awesome-icon :icon="iconClose"></font-awesome-icon>
                    </danger-button>
                </div>
            </template>

            <template #content>
                <div class="mt-1 p-1 grid grid-cols-1 gap-2">
                    <card-button v-for="ses in userWorkModal.content.user_question_answer" :key="ses.id">
                        <template #title>
                            <div class="flex flex-row gap-2 items-center">
                                <div class="bg-green-600 p-1 rounded text-white font-bold" v-if="ses.answer_option.is_correct === 1">
                                    <font-awesome-icon :icon="iconCorrect" fixed-width></font-awesome-icon>
                                </div>
                                <div class="bg-red-600 p-1 rounded text-white font-bold" v-else>
                                    <font-awesome-icon :icon="iconWrong" fixed-width></font-awesome-icon>
                                </div>
                                <p>Soal No. {{ses.answer_option.question.number}}</p>
                            </div>
                        </template>

                        <vue-mathjax :formula="ses.answer_option.question.question" :safe="false"></vue-mathjax>

                        <sub-card>
                            <vue-mathjax :formula="ses.answer_option.answer" :safe="false"></vue-mathjax>
                        </sub-card>
                    </card-button>
                </div>
            </template>

            <template #footer>
                <danger-button @click.native="closeUserWorkModal">Tutup</danger-button>
            </template>
        </dialog-modal>

    </blank-layout>
</template>

<script>
import {
    faAngleDoubleLeft,
    faGhost,
    faForward,
    faTimesCircle,
    faCheckCircle,
    faUserCheck,
    faEye,
    faMedal,
    faClock,
    faTimes,
} from '@fortawesome/free-solid-svg-icons';
import BlankLayout from "@/Layouts/BlankLayout";
import DangerButton from "@/Jetstream/DangerButton";
import JetButton from "@/Jetstream/Button";
import TextTransition from "@/Components/TextTransition";
import TitleCard from "@/Components/Cards/TitleCard";
import ExpandableCard from "@/Components/Cards/ExpandableCard";
import DisplayCount from "@/Components/Cards/DisplayCount";
import SubCard from "@/Components/Cards/SubCard";
import NotificationCard from "@/Components/Cards/NotificationCard";
import BasicCard from "@/Components/Cards/SubCard";
import CardButton from "@/Components/Button/CardButton";
import IconButton from "@/Components/Button/IconButton";
import DialogModal from "@/Jetstream/DialogModal";
import {VueMathjax} from 'vue-mathjax';

export default {
    name: "Stats",
    title: (data) => `${data.test.name} - Ruang Panitia: Analisa Ujian`,
    components: {JetButton, CardButton, DisplayCount, ExpandableCard, TitleCard, TextTransition, DangerButton, BlankLayout, SubCard, BasicCard, IconButton, DialogModal, VueMathjax, NotificationCard},
    props: ['test', 'summary', 'allLeaderboard', 'packs'],
    data() {
        return {
            iconBack: faAngleDoubleLeft,
            iconEmpty: faGhost,
            iconCorrect: faCheckCircle,
            iconWrong: faTimesCircle,
            iconSkip: faForward,
            iconPick: faUserCheck,
            iconView: faEye,
            iconRank: faMedal,
            iconClock: faClock,
            iconClose: faTimes,
            hideTheBest: true,
            leaderboard: [],
            leaderboardModal: false,
            userWorkModal: {
                control: false,
                content: null,
            },
            allData: [{
                data: [21, 100, 58]
            }],
            onDisplay: {
                pack: 0,
                content: null,
            },
            modalData: {
                content: {
                    question: {
                        question: '',
                    },
                },
                control: false,
            },
            barChartOptions: {
                chart: {
                    height: 350,
                    type: 'bar',
                    events: {
                        click: function (chart, w, e) {
                            // console.log(chart, w, e)
                        }
                    }
                },
                colors: ['#059669', '#DC2626', '#9CA3AF'],
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                        distributed: true,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                xaxis: {
                    categories: [
                        'Benar',
                        'Salah',
                        ['Tidak', 'Dijawab'],
                    ],
                    labels: {
                        style: {
                            colors: ['#059669', '#DC2626', '#9CA3AF'],
                            fontSize: '12px'
                        }
                    }
                },
                yaxis: {
                    labels: {
                        style: {
                            colors: '#D1D5DB',
                        }
                    }
                }
            },
        }
    },
    created() {
        this.allData = [{
            data: [this.summary.correct.averageScore, this.summary.wrong.averageScore, this.summary.empty.averageScore]
        }];
    },
    methods: {
        userWorkDetail(sesDetail){
            this.userWorkModal.content = sesDetail;
            this.userWorkModal.control = true;
        },
        closeUserWorkModal(){
            this.userWorkModal.control = false;
        },
        trueOrFalse(what){
            return (what == 1) ? 'correct' : 'wrong';
        },
        getDuration(startDate, endDate){
            let start = new Date(startDate), end = new Date(endDate);
            let h = Math.trunc((end - start) / 1000 / 3600);
            let m = Math.trunc((end - start) / 1000 / 60) % 60;
            let s = Math.trunc((end - start) / 1000) % 60;

            let hours = h > 9 ? h : '0' + h;
            let minutes =  m > 9 ? m : '0' + m;
            let seconds = s > 9 ? s : '0' + s;

            let str = "";
            if(hours != 0){
                str += `${hours} Jam`;
            }
            if(minutes != 0){
                str += ` ${minutes} Menit`;
            }
            if(seconds != 0){
                str += ` ${seconds} Detik`;
            }

            return str;
        },
        translateDate(date, withTime = false) {
            let result = new Date(date);
            let days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
            let months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
            if (withTime) {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()} Pukul ${('0' + result.getHours()).slice(-2)}.${('0' + result.getMinutes()).slice(-2)}.${('0' + result.getSeconds()).slice(-2)}`;

            } else {
                return `${days[result.getDay()]}, ${result.getDate()} ${months[result.getMonth()]} ${result.getFullYear()}`;
            }
        },
        showLeaderboard(source){
            this.leaderboard = source;
            this.leaderboardModal = true;
        },
        closeLeaderboard(){
            this.leaderboardModal = false;
        },
        setOnDisplay(index){
            this.onDisplay.pack = index;
            this.onDisplay.content = (this.packs[index].participants == 0) ? 'empty' : this.packs[index];
        },
        shortenTitle(content) {
            if (content.length > 40) {
                return content.substr(0, 40) + "...";
            } else {
                return content;
            }
        },
        openModal(q){
            this.modalData.content = q;
            this.modalData.control = true;
        },
        closeModal(){
            this.modalData.control = false;
        },
        showTheBest(){
            this.hideTheBest = false;
        },
    }
}
</script>

<style scoped>

</style>
