<template>
    <button class="bg-purple-800 hover:bg-purple-500 text-white shadow-md rounded-lg m-2 flex justify-center items-center text-center p-2">
        <div>
            <font-awesome-icon :icon="icon" fixed-width :size="size"></font-awesome-icon>
            <div class="text-lg pt-1 font-extrabold">
                <slot></slot>
            </div>
        </div>
    </button>
</template>

<script>
export default {
    name: "AddNewButton",
    props: {
        icon: {
            required: true
        },
        size: {
            required: false,
            default: '4x'
        },
    },
}
</script>

<style scoped>

</style>
