<template>
    <button :type="type" class="block w-full px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold text-sm text-white text-center hover:bg-green-400 active:bg-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray transition ease-in-out duration-150">
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: "ExpandedButton",
    props: {
        type: {
            type: String,
            default: 'submit',
        },
    }
}
</script>
