<template>
    <button :type="type" :disabled="disabled"
            class="inline-flex items-center p-1 bg-red-600 border border-transparent rounded-md font-semibold text-white hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-600 disabled:opacity-50 transition ease-in-out duration-150">
        <font-awesome-icon :icon="icon" :size="size" fixed-width></font-awesome-icon>
    </button>
</template>

<script>
import {
    faTrashAlt,
} from '@fortawesome/free-solid-svg-icons';
export default {
    props: {
        type: {
            type: String,
            default: 'button',
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String,
            default: 'sm'
        },
        icon: {
            type: Object,
            default: () => {
                return faTrashAlt;
            }
        }
    },
}
</script>

<style scoped>

</style>
