<template>
    <button :type="type" :disabled="disabled"
            class="inline-flex items-center p-1 border border-transparent rounded-md font-semibold text-white active:bg-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray disabled:opacity-50 transition ease-in-out duration-150" v-bind:class="color">
        <font-awesome-icon :icon="icon" :size="size" fixed-width></font-awesome-icon>
    </button>
</template>

<script>
import {
    faPlus,
} from '@fortawesome/free-solid-svg-icons';
export default {
    props: {
        type: {
            type: String,
            default: 'button',
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String,
            default: 'sm'
        },
        color: {
            type: String,
            default: 'bg-green-600 hover:bg-green-400'
        },
        icon: {
            type: Object,
            default: () => {
                return faPlus;
            }
        },
    },
}
</script>

<style scoped>

</style>
