<template>
    <inertia-link :method="method" :href="to" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-sm text-white active:bg-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray transition ease-in-out duration-150" v-bind:class="classes">
        <slot></slot>
    </inertia-link>
</template>

<script>
export default {
    name: "InertiaButton",
    props: {
        href: {
            required: true,
        },
        color: {
            type: String,
            default: 'bg-green-600 hover:bg-green-400'
        },
        method: {
            type: String,
            default: 'get'
        },
        disabled: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return{
            to: '#',
            classes: '',
        }
    },
    methods: {
        isDisabled(){
            if(!this.disabled){
                this.to = this.href;
            }else{
                this.classes += " opacity-50";
            }
        }
    },
    created() {
        this.classes = this.color;
        this.isDisabled();
    }
}
</script>

<style scoped>

</style>
