<template>
    <inertia-link :as="treat" :method="method" :href="href" class="inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-sm text-white hover:bg-red-400 active:bg-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray transition ease-in-out duration-150">
        <slot></slot>
    </inertia-link>
</template>

<script>
export default {
    name: "InertiaDangerButton",
    props: {
        href: {
            required: true,
        },
        treat: {
            type: String,
        },
        method: {
            type: String,
            default: 'get'
        },
    },
}
</script>

<style scoped>

</style>
