<template>
    <inertia-link
        href=""
        class="group bg-gray-200 hover:bg-green-400 dark:bg-gray-900 dark:hover:bg-gray-600 dark:text-white shadow-md rounded-lg m-1 flex flex-col p-2 "
        v-bind:class="{'bg-green-600' : active}"
    >
        <div class="text-green-500 font-bold group-focus:text-white flex flex-row justify-between">
            <slot name="title"></slot>
            <slot name="buttons"></slot>
        </div>

        <div class="text-sm pt-1">
            <slot></slot>
        </div>
    </inertia-link>
</template>

<script>
export default {
    name: "InertiaCard",
    props: ['href'],
}
</script>

<style scoped>

</style>
