<template>
        <textarea
            class="block w-full dark:bg-gray-900 dark:text-white border-gray-300 dark:border-gray-700 focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm"
            :placeholder="placeholder" :required="required" :id="id" :name="id" @input="$emit('input', $event.target.value)" ref="input" :maxlength="limit">{{value}}</textarea>
</template>

<script>
export default {
    name: "JetTextarea",
    props: {
        value: {
            type: String,
            required: false,
        },
        placeholder: {
            type: String,
            required: false,
        },
        limit: {
            type: Number,
            required: false,
        },
        id: {
            type: String,
            required: false,
        },
        required: {
            type: Boolean,
            required: false,
        }
    },
    methods: {
        focus() {
            this.$refs.input.focus()
        },
    }
}
</script>

<style scoped>

</style>
