<template>
    <input
        class="dark:bg-gray-900 dark:text-white border-gray-300 dark:border-gray-700 focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm"
        :value="value" :placeholder="placeholder" :required="required" @input="$emit('input', $event.target.value)"
        ref="input">
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
        },
        placeholder: {
            type: String,
            required: false,
        },
        required: {
            type: Boolean,
            required: false,
        }
    },

    methods: {
        focus() {
            this.$refs.input.focus()
        }
    }
}
</script>

