<template>
    <div class="py-3 px-2 w-full justify-items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-700 items-center">
        <slot></slot>

        <!-- Modal Portal -->
        <portal-target name="modal" multiple>
        </portal-target>
    </div>
</template>

<script>

export default {
name: "BlankLayout",
}
</script>

<style scoped>

</style>
